[*.cs]

# CA1031: Do not catch general exception types
dotnet_diagnostic.CA1031.severity = none

# CA1032: Implement standard exception constructors
dotnet_diagnostic.CA1032.severity = none

# IDE0008: Use explicit type
csharp_style_var_for_built_in_types = true
csharp_style_var_when_type_is_apparent = true
csharp_style_var_elsewhere = true

# IDE0010: Add missing cases
dotnet_diagnostic.IDE0010.severity = none

# IDE0011: Add braces
csharp_prefer_braces = false

# IDE0046: Convert to conditional expression
dotnet_style_prefer_conditional_expression_over_return = false

# IDE0048: Add parentheses for clarity
dotnet_style_parentheses_in_arithmetic_binary_operators = never_if_unnecessary
dotnet_style_parentheses_in_other_binary_operators = never_if_unnecessary

# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity = none
