[submodule "eduJSON"]
	path = eduJSON
	url = git@github.com:Amebis/eduJSON.git
[submodule "eduEd25519"]
	path = eduEd25519
	url = git@github.com:Amebis/eduEd25519.git
[submodule "eduOAuth"]
	path = eduOAuth
	url = git@github.com:Amebis/eduOAuth.git
[submodule "eduOpenVPN"]
	path = eduOpenVPN
	url = git@github.com:Amebis/eduOpenVPN.git
