[submodule "eduJSON"]
	path = eduJSON
	url = https://github.com/Amebis/eduJSON.git
[submodule "eduLibsodium"]
	path = eduLibsodium
	url = https://github.com/Amebis/eduLibsodium.git
[submodule "eduOAuth"]
	path = eduOAuth
	url = https://github.com/Amebis/eduOAuth.git
[submodule "eduOpenVPN"]
	path = eduOpenVPN
	url = https://github.com/Amebis/eduOpenVPN.git
[submodule "eduEx"]
	path = eduEx
	url = https://github.com/Amebis/eduEx.git
[submodule "openvpn"]
	path = openvpn
	url = https://github.com/Amebis/openvpn.git
	branch = release/2.5
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/Microsoft/vcpkg.git
[submodule "WinStd"]
	path = WinStd
	url = https://github.com/Amebis/WinStd.git
[submodule "wireguard-windows"]
	path = wireguard-windows
	url = https://github.com/Amebis/wireguard-windows.git
