[submodule "openvpn"]
	path = openvpn
	url = https://codeberg.org/Amebis/OpenVPN.git
	branch = release/2.5
[submodule "WinStd"]
	path = WinStd
	url = https://github.com/Amebis/WinStd.git
[submodule "wireguard-windows"]
	path = wireguard-windows
	url = https://codeberg.org/Amebis/wireguard-windows.git
[submodule "eduvpn-common"]
	path = eduvpn-common
	url = https://codeberg.org/eduVPN/eduvpn-common.git
	branch = main
[submodule "lxn-win"]
	path = lxn-win
	url = https://codeberg.org/Amebis/lxn-win.git
