<?xml version="1.0" encoding="utf-8"?>
<!--
    eduVPN - VPN for education and research

    Copyright: 2017-2021 The Commons Conservancy eduVPN Programme
    SPDX-License-Identifier: GPL-3.0+
-->

<?define LanguageList=ar;de;fr;nb;nl;pt-PT;sl;tr;uk?>

<Wix
    xmlns="http://schemas.microsoft.com/wix/2006/wi"
    xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
    <Product
        Id="*"
        UpgradeCode="$(var.Core.UpgradeGUID)"
        Version="$(var.Core.Version)"
        Language="!(loc.ProductLanguage)"
        Name="!(loc.$(var.ClientTarget).CoreName) $(var.Core.VersionInformational)"
        Manufacturer="!(loc.ManufacturerName)">

        <Package
            InstallScope="perMachine"
            InstallerVersion="400"
            Compressed="yes"
            SummaryCodepage="!(loc.SummaryCodepage)"
            ReadOnly="yes"/>

        <Media
            Id="1"
            Cabinet="Core.cab"
            EmbedCab="yes"/>

        <Icon
            Id="App.ico"
            SourceFile="$(var.ClientTarget).Client\Resources\App.ico"/>

        <Property Id="ARPPRODUCTICON" Value="App.ico"/>
        <Property Id="ARPURLINFOABOUT" Value="$(var.ClientAboutUri)"/>


        <!--
            Upgrading functionality
        -->
        <MajorUpgrade
            DowngradeErrorMessage="!(loc.NewerVersionInstalled)"
            Schedule="afterInstallExecute"
            AllowSameVersionUpgrades="yes"/>
        <?if $(var.ClientTarget) = "eduVPN"?>
        <Property Id="OLDVERSIONSINSTALLED" Secure="yes"/>
        <Upgrade Id="{ADD9689E-1061-43AF-85C6-2AAB99A7284E}">
            <UpgradeVersion
                Minimum="0.0.0.0"
                Maximum="1.0.10.0"
                Property="OLDVERSIONSINSTALLED"
                IncludeMinimum="yes"
                MigrateFeatures="yes"/>
        </Upgrade>
        <?endif?>
        <Property Id="PRODUCTDIRPREV">
            <ComponentSearch Id="$(var.ClientTarget).Client.exe" Guid="{B7321908-2073-4E7A-8E$(var.ClientId)-5ABA3B46A7DF}"/>
        </Property>
        <SetProperty
            After="AppSearch"
            Action="SetBinDirPrev"
            Id="PRODUCTDIR"
            Value="[PRODUCTDIRPREV]"
            Sequence="first"><![CDATA[PRODUCTDIRPREV AND NOT Installed]]></SetProperty>
        <SetProperty
            After="SetBinDirPrev"
            Action="SetBinDirParam"
            Id="PRODUCTDIR"
            Value="[INSTALLDIR]"
            Sequence="first"><![CDATA[INSTALLDIR AND NOT Installed]]></SetProperty>


        <!--
            .NET Framework check
        -->
        <PropertyRef Id="NETFRAMEWORK45"/>
        <Condition Message="!(loc.DotNETFrameworkMissing)"><![CDATA[Installed OR NETFRAMEWORK45]]></Condition>


        <!--
            Folders
        -->
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="$(var.ProgramFilesFolder)">
                <Directory Id="PRODUCTDIR" Name="$(var.ClientTitle)" FileSource="$(var.TargetDir)">
                    <?foreach Language in $(var.LanguageList)?>
                    <?include Install\$(var.Language)\defs.wxi?>
                    <Directory Id="RESOURCEDIR$(var.LanguageId)" Name="$(var.Language)"/>
                    <?endforeach?>
                </Directory>
            </Directory>
            <Directory Id="ProgramMenuFolder"/>
            <Directory Id="DesktopFolder"/>

            <Merge Id="VC150Redist" SourceFile="$(var.VC150RedistMSM)" DiskId="1" Language="0"/>
        </Directory>


        <!--
            Compontents
        -->
        <DirectoryRef Id="PRODUCTDIR">
            <Component Id="System.ValueTuple.dll" Guid="{C8FC5755-2F1E-4967-BF$(var.ClientId)-ACDA10877D32}">
                <File Source="System.ValueTuple.dll"/>
            </Component>
            <Component Id="Prism.dll" Guid="{F88C1DFD-B204-419F-90$(var.ClientId)-16F29139A014}">
                <File Source="Prism.dll"/>
            </Component>
            <Component Id="eduEd25519.dll" Guid="{E0B6D73B-BA57-4461-BE$(var.ClientId)-591E39FD8700}">
                <File Source="eduEd25519.dll"/>
            </Component>
            <Component Id="eduEx.dll" Guid="{82DB9679-20F0-4AA1-8D$(var.ClientId)-40ACC84DFCAB}">
                <File Source="eduEx.dll"/>
            </Component>
            <Component Id="eduJSON.dll" Guid="{6D3A2015-49C6-4860-BA$(var.ClientId)-51750332A926}">
                <File Source="eduJSON.dll"/>
            </Component>
            <Component Id="eduOAuth.dll" Guid="{B42E5C23-0C98-4EF2-85$(var.ClientId)-263D731E354A}">
                <File Source="eduOAuth.dll"/>
            </Component>
            <Component Id="eduOpenVPN.dll" Guid="{28FC2938-848C-454D-80$(var.ClientId)-F1192984569C}">
                <File Source="eduOpenVPN.dll"/>
            </Component>
            <Component Id="eduVPN.dll" Guid="{2A1383F4-107A-479D-BD$(var.ClientId)-49D1388D04C1}">
                <File Source="eduVPN.dll"/>
            </Component>
            <Component Id="eduVPN.Views.dll" Guid="{2600BA9D-8AA3-46D5-88$(var.ClientId)-2823B998BF96}">
                <File Source="eduVPN.Views.dll"/>
            </Component>
            <Component Id="eduVPN.Resources.dll" Guid="{F6C90B86-77AC-49A6-B3$(var.ClientId)-5BCF15028CFA}">
                <File Source="eduVPN.Resources.dll"/>
            </Component>
            <Component Id="$(var.ClientTarget).Client.exe" Guid="{B7321908-2073-4E7A-8E$(var.ClientId)-5ABA3B46A7DF}">
                <File Source="$(var.ClientTarget).Client.exe" KeyPath="yes"/>

                <!-- Note: "$(var.ClientTarget).Client" feature and "App.ico" icon are defined elsewhere. -->
                <Shortcut
                    Id="$(var.ClientTarget).Client.exe.StartMenuShortcut"
                    Directory="ProgramMenuFolder"
                    Name="$(var.ClientTitle) Client" DisplayResourceDll="[PRODUCTDIR]eduVPN.Resources.dll" DisplayResourceId="$(var.IDS_CLIENT_TITLE)"
                    DescriptionResourceDll="[PRODUCTDIR]eduVPN.Resources.dll" DescriptionResourceId="$(var.IDS_CLIENT_DESCRIPTION)"
                    Target="$(var.ClientTarget).Client"
                    WorkingDirectory="PRODUCTDIR"
                    Icon="App.ico"/>
            </Component>
            <Component Id="$(var.ClientTarget).Client.exe.config" Guid="{BDAFF1F9-BC26-4758-A2$(var.ClientId)-D5253117D595}">
                <File Source="$(var.ClientTarget).Client.exe.config"/>
            </Component>
            <!--
            <Component Id="$(var.ClientTarget).Client.exe.DesktopShortcut" Guid="{C630B2C1-7CD1-4E9C-90$(var.ClientId)-1F6EA79C5D85}">
                <Shortcut
                    Id="$(var.ClientTarget).Client.exe.DesktopShortcut"
                    Directory="DesktopFolder"
                    Name="$(var.ClientTitle) Client" DisplayResourceDll="[PRODUCTDIR]eduVPN.Resources.dll" DisplayResourceId="$(var.IDS_CLIENT_TITLE)"
                    DescriptionResourceDll="[PRODUCTDIR]eduVPN.Resources.dll" DescriptionResourceId="$(var.IDS_CLIENT_DESCRIPTION)"
                    Target="[PRODUCTDIR]$(var.ClientTarget).Client.exe"
                    WorkingDirectory="PRODUCTDIR"
                    Icon="App.ico"/>
                <RemoveFolder Id="$(var.ClientTarget).Client.exe.DesktopShortcut" Directory="DesktopFolder" On="uninstall"/>
                <RegistryValue Root="HKCU" Key="SOFTWARE\$(var.ClientUrn)" Name="DesktopShortcut" Type="integer" Value="1" KeyPath="yes"/>
            </Component>
            -->

            <!-- Add/Remove Programs Localization -->
            <!-- TODO: Shouldn't component GUIDs change with every [ProductCode] change as the component key path changes? -->
            <Component Id="ARP.DisplayName" Guid="{9B193EA7-D92A-4B21-B5$(var.ClientId)-83696C1DA3F0}">
                <RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\[ProductCode]" Name="DisplayName_Localized" Type="string" Value="@[PRODUCTDIR]eduVPN.Resources.dll,-4"/>
            </Component>
            <Component Id="ARP.Publisher" Guid="{B1843E16-2328-46C3-82$(var.ClientId)-4D37C14609BB}">
                <RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\[ProductCode]" Name="Publisher_Localized" Type="string" Value="@[PRODUCTDIR]eduVPN.Resources.dll,-3"/>
            </Component>
        </DirectoryRef>
        <?foreach Language in $(var.LanguageList)?>
        <?include Install\$(var.Language)\defs.wxi?>
        <DirectoryRef Id="RESOURCEDIR$(var.LanguageId)">
            <Component Id="eduEd25519.resources.dll.$(var.LanguageId)" Guid="{1DAC0D20-DB86-$(var.LanguageLcid)-8D$(var.ClientId)-81E9541E2B86}">
                <File Id="eduEd25519.resources.dll.$(var.LanguageId)" Source="$(var.Language)\eduEd25519.resources.dll"/>
            </Component>
            <Component Id="eduJSON.resources.dll.$(var.LanguageId)" Guid="{245001DE-AD4D-$(var.LanguageLcid)-94$(var.ClientId)-2B8B5CCBB5F6}">
                <File Id="eduJSON.resources.dll.$(var.LanguageId)" Source="$(var.Language)\eduJSON.resources.dll"/>
            </Component>
            <Component Id="eduOAuth.resources.dll.$(var.LanguageId)" Guid="{85E8357D-8A7F-$(var.LanguageLcid)-B2$(var.ClientId)-DDA49F2E2FCB}">
                <File Id="eduOAuth.resources.dll.$(var.LanguageId)" Source="$(var.Language)\eduOAuth.resources.dll"/>
            </Component>
            <Component Id="eduOpenVPN.resources.dll.$(var.LanguageId)" Guid="{3EB12483-9ADF-$(var.LanguageLcid)-84$(var.ClientId)-2C4145655CAA}">
                <File Id="eduOpenVPN.resources.dll.$(var.LanguageId)" Source="$(var.Language)\eduOpenVPN.resources.dll"/>
            </Component>
            <Component Id="eduVPN.resources.dll.$(var.LanguageId)" Guid="{B3E2ED54-F2BB-$(var.LanguageLcid)-B1$(var.ClientId)-F82C85A7E8B2}">
                <File Id="eduVPN.resources.dll.$(var.LanguageId)" Source="$(var.Language)\eduVPN.resources.dll"/>
            </Component>
            <Component Id="eduVPN.Views.resources.dll.$(var.LanguageId)" Guid="{67ABCB8F-0088-$(var.LanguageLcid)-AB$(var.ClientId)-5ADF6774D86D}">
                <File Id="eduVPN.Views.resources.dll.$(var.LanguageId)" Source="$(var.Language)\eduVPN.Views.resources.dll"/>
            </Component>
        </DirectoryRef>
        <?endforeach?>


        <!--
            Features
        -->
        <Feature Id="$(var.ClientTarget).Client" Title="!(loc.$(var.ClientTarget).CoreName)" Level="1">
            <MergeRef Id="VC150Redist"/>

            <ComponentRef Id="System.ValueTuple.dll"/>
            <ComponentRef Id="Prism.dll"/>
            <ComponentRef Id="eduEd25519.dll"/>
            <ComponentRef Id="eduEx.dll"/>
            <ComponentRef Id="eduJSON.dll"/>
            <ComponentRef Id="eduOAuth.dll"/>
            <ComponentRef Id="eduOpenVPN.dll"/>
            <ComponentRef Id="eduVPN.dll"/>
            <ComponentRef Id="eduVPN.Views.dll"/>
            <ComponentRef Id="eduVPN.Resources.dll"/>
            <ComponentRef Id="$(var.ClientTarget).Client.exe"/>
            <ComponentRef Id="$(var.ClientTarget).Client.exe.config"/>
            <!--<ComponentRef Id="$(var.ClientTarget).Client.exe.DesktopShortcut"/>-->
            <ComponentRef Id="ARP.DisplayName"/>
            <ComponentRef Id="ARP.Publisher"/>

            <?foreach Language in $(var.LanguageList)?>
            <?include Install\$(var.Language)\defs.wxi?>
            <ComponentRef Id="eduEd25519.resources.dll.$(var.LanguageId)"/>
            <ComponentRef Id="eduJSON.resources.dll.$(var.LanguageId)"/>
            <ComponentRef Id="eduOAuth.resources.dll.$(var.LanguageId)"/>
            <ComponentRef Id="eduOpenVPN.resources.dll.$(var.LanguageId)"/>
            <ComponentRef Id="eduVPN.resources.dll.$(var.LanguageId)"/>
            <ComponentRef Id="eduVPN.Views.resources.dll.$(var.LanguageId)"/>
            <?endforeach?>
        </Feature>
    </Product>
</Wix>
