<?xml version="1.0" encoding="utf-8"?>
<!--
    eduVPN - VPN for education and research

    Copyright: 2017-2018 The Commons Conservancy eduVPN Programme
    SPDX-License-Identifier: GPL-3.0+
-->
<Wix
    xmlns="http://schemas.microsoft.com/wix/2006/wi"
    xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension"
    xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
    <Bundle
        UpgradeCode="{EF5D5806-B90B-4AA3-800A-2D7EA1592BA0}"
        Version="$(var.Version)"
        Name="!(loc.ApplicationName) $(var.Version)"
        Manufacturer="!(loc.ManufacturerName)"
        AboutUrl="https://eduvpn.org/"
        Copyright="!(loc.LegalCopyright)"
        IconSourceFile="$(var.ClientTarget).Client\Resources\App.ico"
        Compressed="yes">

        <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense">
            <bal:WixStandardBootstrapperApplication
                LicenseUrl=""
                SuppressOptionsUI="yes"/>

            <Payload
                Id="thm"
                Compressed="yes"
                Name="thm.xml"
                SourceFile="Install\thm.xml"/>

            <Payload
                Id="thm-en-US"
                Compressed="yes"
                Name="thm.wxl"
                SourceFile="Install\thm.wxl"/>

            <!--
            <Payload
                Id="thm-nl-NL"
                Compressed="yes"
                Name="1043\thm.wxl"
                SourceFile="Install\thm.nl.wxl"/>
            -->

            <Payload
                Id="thm-sl-SI"
                Compressed="yes"
                Name="1060\thm.wxl"
                SourceFile="Install\thm.sl.wxl"/>

            <Payload
                Id="logo"
                Compressed="yes"
                Name="logo.png"
                SourceFile="Install\$(var.ClientTarget)\logo.png"/>
        </BootstrapperApplicationRef>

        <Chain>
            <!--
                .NET Framework
            -->
            <PackageGroupRef Id="NetFx45Redist"/>

            <!--
                TAP-Windows
            -->
            <MsiPackage
                Id="$(var.ClientTarget)TAPWinPre_x86"
                SourceFile="bin\Setup\$(var.ClientTarget)TAPWinPre_$(var.TAPWinPre.Version)_x86.msi"
                InstallCondition="NOT VersionNT64"/>

            <MsiPackage
                Id="$(var.ClientTarget)TAPWinPre_x64"
                SourceFile="bin\Setup\$(var.ClientTarget)TAPWinPre_$(var.TAPWinPre.Version)_x64.msi"
                InstallCondition="VersionNT64"/>

            <PackageGroupRef Id="TAPWindows921Redist"/>

            <!--
                OpenVPN
            -->
            <MsiPackage
                Id="$(var.ClientTarget)OpenVPN_x86"
                SourceFile="bin\Setup\$(var.ClientTarget)OpenVPN_$(var.OpenVPN.Version)_x86.msi"
                InstallCondition="NOT VersionNT64"/>

            <MsiPackage
                Id="$(var.ClientTarget)OpenVPN_x64"
                SourceFile="bin\Setup\$(var.ClientTarget)OpenVPN_$(var.OpenVPN.Version)_x64.msi"
                InstallCondition="VersionNT64"/>

            <!--
                Core
            -->
            <MsiPackage
                Id="$(var.ClientTarget)Core_x86"
                SourceFile="bin\Setup\$(var.ClientTarget)Core_$(var.Core.Version)_x86.msi"
                InstallCondition="NOT VersionNT64"/>

            <MsiPackage
                Id="$(var.ClientTarget)Core_x64"
                SourceFile="bin\Setup\$(var.ClientTarget)Core_$(var.Core.Version)_x64.msi"
                InstallCondition="VersionNT64"/>
        </Chain>
    </Bundle>
</Wix>
