<?xml version="1.0" encoding="utf-8"?>
<!--
    eduVPN - End-user friendly VPN

    Copyright: 2017, The Commons Conservancy eduVPN Programme
    SPDX-License-Identifier: GPL-3.0+
-->
<Wix
    xmlns="http://schemas.microsoft.com/wix/2006/wi"
    xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
    <Product
        Id="$(var.eduVPN.OpenVPN.ProductGUID)"
        UpgradeCode="{CFE55281-AE4B-42A8-A1C3-76E94A733341}"
        Version="$(var.eduVPN.OpenVPN.Version)"
        Language="!(loc.ProductLanguage)"
        Name="!(loc.ApplicationOpenVPNName) $(var.eduVPN.OpenVPN.VersionInformational)"
        Manufacturer="!(loc.ManufacturerName)">

        <Package
            InstallScope="perMachine"
            InstallerVersion="200"
            Compressed="yes"
            SummaryCodepage="!(loc.SummaryCodepage)"
            ReadOnly="yes"/>

        <Media
            Id="1"
            Cabinet="OpenVPN.cab"
            EmbedCab="yes"/>

        <Property Id="ARPURLINFOABOUT" Value="https://eduvpn.org/"/>


        <!--
            Upgrading functionality
        -->
        <Property Id="PREVIOUSVERSIONSINSTALLED" Secure="yes"/>
        <Upgrade Id="{CFE55281-AE4B-42A8-A1C3-76E94A733341}">
            <UpgradeVersion
                Minimum="1.0.0"
                Property="PREVIOUSVERSIONSINSTALLED"
                IncludeMinimum="yes"
                MigrateFeatures="yes"/>
        </Upgrade>
        <InstallExecuteSequence>
            <RemoveExistingProducts Before="InstallInitialize"/>
        </InstallExecuteSequence>
        <Property Id="BINDIRPREV">
            <ComponentSearch Id="libeay32.dll" Guid="{AE04C029-0B1B-4F2A-B810-58C8DEE72AE4}"/>
            <ComponentSearch Id="liblzo2_2.dll" Guid="{4C072186-6C47-49B3-B945-D09503A20FB3}"/>
            <ComponentSearch Id="libpkcs11_helper_1.dll" Guid="{1D7D0360-15AD-466F-B667-840C8C8827C5}"/>
            <ComponentSearch Id="openvpn.exe" Guid="{101FF3BB-DD5A-41CB-8A8C-0B582F7BF1D7}"/>
            <ComponentSearch Id="openvpnserv.exe" Guid="{1A38AF86-1516-49FA-91AE-D48EAE37468D}"/>
            <ComponentSearch Id="ssleay32.dll" Guid="{72639C55-D063-4A57-B7B7-1CD60945B97A}"/>
        </Property>
        <SetProperty
            After="AppSearch"
            Action="SetBinDirPrev"
            Id="BINDIR"
            Value="[BINDIRPREV]"
            Sequence="first"><![CDATA[BINDIRPREV AND NOT Installed]]></SetProperty>


        <!--
            TAP-Windows driver check
            Note: Exact driver version check would be extremely difficult to invent and probably error prone.
            Therefore, we're happy if "tap0901" service is registered and has ImagePath value set.
        -->
        <Property Id="TAPWINDOWSDRIVER">
            <RegistrySearch
                Id="TAPWindowsDriver"
                Root="HKLM"
                Key="SYSTEM\CurrentControlSet\services\tap0901"
                Name="ImagePath"
                Type="raw"/>
        </Property>
        <Condition Message="!(loc.TAPWindowsMissing)"><![CDATA[Installed OR TAPWINDOWSDRIVER]]></Condition>


        <!--
            Folders
        -->
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="$(var.eduVPN.ProgramFilesFolder)">
                <Directory Id="EDUVPNDIR" Name="eduVPN">
                    <Directory Id="BINDIR" Name="OpenVPN" FileSource="$(var.eduVPN.TargetDir)"/>
                </Directory>
            </Directory>
        </Directory>


        <!--
            Compontents
        -->
        <DirectoryRef Id="BINDIR">
            <Component Id="libeay32.dll" Guid="{AE04C029-0B1B-4F2A-B810-58C8DEE72AE4}">
                <File Source="libeay32.dll"/>
            </Component>
            <Component Id="liblzo2_2.dll" Guid="{4C072186-6C47-49B3-B945-D09503A20FB3}">
                <File Source="liblzo2-2.dll"/>
            </Component>
            <Component Id="libpkcs11_helper_1.dll" Guid="{1D7D0360-15AD-466F-B667-840C8C8827C5}">
                <File Source="libpkcs11-helper-1.dll"/>
            </Component>
            <Component Id="openvpn.exe" Guid="{101FF3BB-DD5A-41CB-8A8C-0B582F7BF1D7}">
                <File Source="openvpn.exe"/>
            </Component>
            <Component Id="openvpnserv.exe" Guid="{1A38AF86-1516-49FA-91AE-D48EAE37468D}">
                <File Source="openvpnserv.exe"/>
                <ServiceControl
                    Id="OpenVPNServiceInteractive.eduVPN"
                    Name="OpenVPNServiceInteractive$eduVPN"
                    Start="install"
                    Stop="both"
                    Remove="uninstall"/>
                <ServiceInstall
                    Id="OpenVPNServiceInteractive.eduVPN"
                    Name="OpenVPNServiceInteractive$eduVPN"
                    DisplayName="@[#OpenVPN.Resources.dll],-3"
                    Description="@[#OpenVPN.Resources.dll],-4"
                    Arguments="-instance interactive OpenVPNServiceInteractive$eduVPN"
                    Type="ownProcess"
                    Start="auto"
                    ErrorControl="normal">
                    <ServiceDependency Id="tap0901"/>
                    <ServiceDependency Id="Dhcp"/>
                </ServiceInstall>
            </Component>
            <Component Id="openvpnserv.exe.reg1" Guid="{457AD4F6-7330-409B-8AA9-11C5AA17B2AD}">
                <RegistryValue
                    Root="HKLM"
                    Key="Software\OpenVPNServiceInteractive$eduVPN"
                    Name="exe_path"
                    Type="string"
                    Value="[#openvpn.exe]"/>
            </Component>
            <Component Id="openvpnserv.exe.reg2" Guid="{5A36E0F2-D707-4A43-A039-2D6B4231BF23}">
                <RegistryValue
                    Root="HKLM"
                    Key="Software\OpenVPNServiceInteractive$eduVPN"
                    Name="config_dir"
                    Type="string"
                    Value="[BINDIR]"/>
            </Component>
            <Component Id="openvpnserv.exe.reg3" Guid="{3D89AA2C-04E3-49C2-A2BC-19B957ED4F74}">
                <RegistryValue
                    Root="HKLM"
                    Key="Software\OpenVPNServiceInteractive$eduVPN"
                    Name="config_ext"
                    Type="string"
                    Value="conf"/>
            </Component>
            <Component Id="openvpnserv.exe.reg4" Guid="{E551E92B-B79A-41E7-909C-656AEDDFAE1C}">
                <RegistryValue
                    Root="HKLM"
                    Key="Software\OpenVPNServiceInteractive$eduVPN"
                    Name="log_dir"
                    Type="string"
                    Value="[BINDIR]"/>
            </Component>
            <Component Id="openvpnserv.exe.reg5" Guid="{9C350B91-873A-4F0F-BBDD-D422071AE78C}">
                <RegistryValue
                    Root="HKLM"
                    Key="Software\OpenVPNServiceInteractive$eduVPN"
                    Name="log_append"
                    Type="string"
                    Value="0"/>
            </Component>
            <Component Id="openvpnserv.exe.reg6" Guid="{D59FD7FA-E687-4A43-B8A2-077ECDD02B6D}">
                <RegistryValue
                    Root="HKLM"
                    Key="Software\OpenVPNServiceInteractive$eduVPN"
                    Name="priority"
                    Type="string"
                    Value="NORMAL_PRIORITY_CLASS"/>
            </Component>
            <Component Id="openvpnserv.exe.reg7" Guid="{2140688F-04A2-42C9-B9C8-1314B721C82D}">
                <RegistryValue
                    Root="HKLM"
                    Key="Software\OpenVPNServiceInteractive$eduVPN"
                    Name="ovpn_admin_group"
                    Type="string"
                    Value="Users"/>
            </Component>
            <Component Id="ssleay32.dll" Guid="{72639C55-D063-4A57-B7B7-1CD60945B97A}">
                <File Source="ssleay32.dll"/>
            </Component>
        </DirectoryRef>


        <!--
            Features
        -->
        <Feature Id="eduVPN.OpenVPN" Title="!(loc.ApplicationOpenVPNName)" Level="1">
            <ComponentRef Id="libeay32.dll"/>
            <ComponentRef Id="liblzo2_2.dll"/>
            <ComponentRef Id="libpkcs11_helper_1.dll"/>
            <ComponentRef Id="openvpn.exe"/>
            <ComponentRef Id="openvpnserv.exe"/>
            <ComponentRef Id="openvpnserv.exe.reg1"/>
            <ComponentRef Id="openvpnserv.exe.reg2"/>
            <ComponentRef Id="openvpnserv.exe.reg3"/>
            <ComponentRef Id="openvpnserv.exe.reg4"/>
            <ComponentRef Id="openvpnserv.exe.reg5"/>
            <ComponentRef Id="openvpnserv.exe.reg6"/>
            <ComponentRef Id="openvpnserv.exe.reg7"/>
            <ComponentRef Id="ssleay32.dll"/>
            <ComponentGroupRef Id="OpenVPN.Resources.dll"/>
        </Feature>
    </Product>
</Wix>
