<?xml version="1.0" encoding="utf-8"?>
<!--
    eduVPN - VPN for education and research

    Copyright: 2017-2019 The Commons Conservancy eduVPN Programme
    SPDX-License-Identifier: GPL-3.0+
-->
<Wix
    xmlns="http://schemas.microsoft.com/wix/2006/wi"
    xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
    <Product
        Id="$(var.Core.ProductGUID)"
        UpgradeCode="$(var.Core.UpgradeGUID)"
        Version="$(var.Core.Version)"
        Language="!(loc.ProductLanguage)"
        Name="!(loc.$(var.ClientTarget).CoreName) $(var.Core.VersionInformational)"
        Manufacturer="!(loc.ManufacturerName)">

        <Package
            InstallScope="perMachine"
            InstallerVersion="400"
            Compressed="yes"
            SummaryCodepage="!(loc.SummaryCodepage)"
            ReadOnly="yes"/>

        <Media
            Id="1"
            Cabinet="Core.cab"
            EmbedCab="yes"/>

        <Icon
            Id="App.ico"
            SourceFile="$(var.ClientTarget).Client\Resources\App.ico"/>

        <Property Id="ARPPRODUCTICON" Value="App.ico"/>
        <Property Id="ARPURLINFOABOUT" Value="$(var.ClientAboutUrl)"/>


        <!--
            Upgrading functionality
        -->
        <MajorUpgrade
            DowngradeErrorMessage="!(loc.NewerVersionInstalled)"
            Schedule="afterInstallExecute"/>
        <Property Id="OLDVERSIONSINSTALLED" Secure="yes"/>
        <Upgrade Id="{ADD9689E-1061-43AF-85C6-2AAB99A7284E}">
            <UpgradeVersion
                Minimum="0.0.0.0"
                Maximum="1.0.10.0"
                Property="OLDVERSIONSINSTALLED"
                IncludeMinimum="yes"
                MigrateFeatures="yes"/>
        </Upgrade>
        <Property Id="BINDIRPREV">
            <ComponentSearch Id="Prism.dll" Guid="{7F1F7FAC-3959-40D5-A379-AE70762D6335}"/>
            <ComponentSearch Id="$(var.ClientTarget).Client.exe" Guid="{ED87A5F5-CCED-46EA-8D4E-443CA747E4D8}"/>
            <ComponentSearch Id="$(var.ClientTarget).Client.exe.config" Guid="{8382A373-0C73-4D16-8F33-CA9FF91C24D0}"/>
        </Property>
        <SetProperty
            After="AppSearch"
            Action="SetBinDirPrev"
            Id="BINDIR"
            Value="[BINDIRPREV]"
            Sequence="first"><![CDATA[BINDIRPREV AND NOT Installed]]></SetProperty>
        <SetProperty
            After="SetBinDirPrev"
            Action="SetBinDirParam"
            Id="BINDIR"
            Value="[INSTALLDIR]"
            Sequence="first"><![CDATA[INSTALLDIR AND NOT Installed]]></SetProperty>


        <!--
            .NET Framework check
        -->
        <PropertyRef Id="NETFRAMEWORK45"/>
        <Condition Message="!(loc.DotNETFrameworkMissing)"><![CDATA[Installed OR NETFRAMEWORK45]]></Condition>


        <!--
            Folders
        -->
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="$(var.ProgramFilesFolder)">
                <Directory Id="PRODUCTDIR" Name="$(var.ClientTitle)">
                    <Directory Id="BINDIR" Name="Core" FileSource="$(var.TargetDir)">
                        <Directory Id="RESDIRFR" Name="fr"/>
                        <Directory Id="RESDIRNL" Name="nl"/>
                        <Directory Id="RESDIRSL" Name="sl"/>
                        <Directory Id="RESDIRUK" Name="uk"/>
                    </Directory>
                </Directory>
            </Directory>
            <Directory Id="ProgramMenuFolder"/>
            <Directory Id="DesktopFolder"/>

            <Merge Id="VC150Redist" SourceFile="$(var.VC150RedistMSM)" DiskId="1" Language="0"/>
        </Directory>


        <!--
            Compontents
        -->
        <DirectoryRef Id="BINDIR">
            <!-- Add/Remove Programs Localization -->
            <Component Id="ARP.DisplayName" Guid="{724B49D3-30BE-419B-9041-EA85BF971A58}">
                <RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\[ProductCode]" Name="DisplayName_Localized" Type="string" Value="@[BINDIR]eduVPN.Resources.dll,-4"/>
            </Component>
            <Component Id="ARP.Publisher" Guid="{17532E47-CB46-4A70-8AFA-B25A829B9E1A}">
                <RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\[ProductCode]" Name="Publisher_Localized" Type="string" Value="@[BINDIR]eduVPN.Resources.dll,-3"/>
            </Component>
        </DirectoryRef>


        <!--
            Features
        -->
        <Feature Id="$(var.ClientTarget).Client" Title="!(loc.$(var.ClientTarget).CoreName)" Level="1">
            <MergeRef Id="VC150Redist"/>
            <ComponentRef Id="ARP.DisplayName"/>
            <ComponentRef Id="ARP.Publisher"/>

            <ComponentGroupRef Id="$(var.ClientTarget).Client.exe"/>
        </Feature>


        <!--
            Prism
        -->
        <DirectoryRef Id="BINDIR">
            <Component Id="Prism.dll" Guid="{7F1F7FAC-3959-40D5-A379-AE70762D6335}">
                <File Source="Prism.dll"/>
            </Component>
        </DirectoryRef>
        <ComponentGroup Id="Prism.dll">
            <ComponentRef Id="Prism.dll"/>
        </ComponentGroup>
    </Product>
</Wix>
