<?xml version="1.0" encoding="utf-8"?>
<!--
    eduVPN - End-user friendly VPN

    Copyright: 2017, The Commons Conservancy eduVPN Programme
    SPDX-License-Identifier: GPL-3.0+
-->
<Wix
    xmlns="http://schemas.microsoft.com/wix/2006/wi"
    xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
    <Product
        Id="*"
        UpgradeCode="{CFE55281-AE4B-42A8-A1C3-76E94A733341}"
        Version="$(var.eduVPN.OpenVPN.Version)"
        Language="!(loc.ProductLanguage)"
        Name="!(loc.ApplicationOpenVPNName) $(var.eduVPN.OpenVPN.VersionInformational)"
        Manufacturer="!(loc.ManufacturerName)">

        <Package
            InstallScope="perMachine"
            InstallerVersion="200"
            Compressed="yes"
            SummaryCodepage="!(loc.SummaryCodepage)"
            ReadOnly="yes"/>

        <Media
            Id="1"
            Cabinet="OpenVPN.cab"
            EmbedCab="yes"/>

        <Property Id="ARPURLINFOABOUT" Value="https://eduvpn.org/"/>


        <!--
            Upgrading functionality
        -->
        <Property Id="PREVIOUSVERSIONSINSTALLED" Secure="yes"/>
        <Upgrade Id="{CFE55281-AE4B-42A8-A1C3-76E94A733341}">
            <UpgradeVersion
                Minimum="1.0.0"
                Property="PREVIOUSVERSIONSINSTALLED"
                IncludeMinimum="yes"
                MigrateFeatures="yes"/>
        </Upgrade>
        <InstallExecuteSequence>
            <RemoveExistingProducts Before="InstallInitialize"/>
        </InstallExecuteSequence>


        <!--
            TAP-Windows driver check
            Note: Exact driver version check would be extremely difficult to invent and probably error prone.
            Therefore, we're happy if "tap0901" service is registered and has ImagePath value set.
        -->
        <Property Id="TAPWINDOWSDRIVER">
            <RegistrySearch
                Id="TAPWindowsDriver"
                Root="HKLM"
                Key="SYSTEM\CurrentControlSet\services\tap0901"
                Name="ImagePath"
                Type="raw"/>
        </Property>
        <Condition Message="!(loc.TAPWindowsMissing)"><![CDATA[Installed OR TAPWINDOWSDRIVER]]></Condition>


        <!--
            Folders
        -->
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="$(var.eduVPN.ProgramFilesFolder)">
                <Directory Id="INSTALLDIR" Name="eduVPN Client" FileSource="$(var.eduVPN.TargetDir)"/>
            </Directory>
        </Directory>


        <!--
            Compontents
        -->
        <DirectoryRef Id="INSTALLDIR">
            <Component Id="libeay32.dll" Guid="{AE04C029-0B1B-4F2A-B810-58C8DEE72AE4}">
                <File Source="libeay32.dll"/>
            </Component>
            <Component Id="liblzo2_2.dll" Guid="{4C072186-6C47-49B3-B945-D09503A20FB3}">
                <File Source="liblzo2-2.dll"/>
            </Component>
            <Component Id="libpkcs11_helper_1.dll" Guid="{1D7D0360-15AD-466F-B667-840C8C8827C5}">
                <File Source="libpkcs11-helper-1.dll"/>
            </Component>
            <Component Id="openvpn.exe" Guid="{101FF3BB-DD5A-41CB-8A8C-0B582F7BF1D7}">
                <File Source="openvpn.exe"/>
            </Component>
            <Component Id="openvpnserv.exe" Guid="{1A38AF86-1516-49FA-91AE-D48EAE37468D}">
                <File Source="openvpnserv.exe"/>
                <ServiceControl
                    Id="eduVPNServiceInteractive"
                    Name="eduVPNServiceInteractive"
                    Start="install"
                    Stop="both"
                    Remove="uninstall"/>
                <ServiceInstall
                    Name="eduVPNServiceInteractive"
                    DisplayName="@[#OpenVPN.Resources.dll],-3"
                    Description="@[#OpenVPN.Resources.dll],-4"
                    Type="shareProcess"
                    Start="auto"
                    ErrorControl="normal">
                    <ServiceDependency Id="tap0901"/>
                    <ServiceDependency Id="Dhcp"/>
                </ServiceInstall>
            </Component>
            <Component Id="openvpnserv.exe.reg1" Guid="{A82C7D8B-6E7C-4C1B-87FC-E54D0F45FC2F}">
                <RegistryValue
                    Root="HKLM"
                    Key="Software\eduVPN"
                    Name="exe_path"
                    Type="string"
                    Value="[#openvpn.exe]"/>
            </Component>
            <Component Id="openvpnserv.exe.reg2" Guid="{887401D1-6889-45A7-A520-A2822859B01C}">
                <RegistryValue
                    Root="HKLM"
                    Key="Software\eduVPN"
                    Name="config_dir"
                    Type="string"
                    Value="[INSTALLDIR]"/>
            </Component>
            <Component Id="openvpnserv.exe.reg3" Guid="{261C144E-B0F0-47C4-89CE-65236DDEC699}">
                <RegistryValue
                    Root="HKLM"
                    Key="Software\eduVPN"
                    Name="config_ext"
                    Type="string"
                    Value="conf"/>
            </Component>
            <Component Id="openvpnserv.exe.reg4" Guid="{180A8917-F11C-4EFB-B5B5-CF760C140AD9}">
                <RegistryValue
                    Root="HKLM"
                    Key="Software\eduVPN"
                    Name="log_dir"
                    Type="string"
                    Value="[INSTALLDIR]"/>
            </Component>
            <Component Id="openvpnserv.exe.reg5" Guid="{CFD8C746-C58D-44B0-BC21-D74F98F8BBF1}">
                <RegistryValue
                    Root="HKLM"
                    Key="Software\eduVPN"
                    Name="log_append"
                    Type="string"
                    Value="0"/>
            </Component>
            <Component Id="openvpnserv.exe.reg6" Guid="{FDAF0DAD-5AA2-433E-8BE7-E032E1A3CF5F}">
                <RegistryValue
                    Root="HKLM"
                    Key="Software\eduVPN"
                    Name="priority"
                    Type="string"
                    Value="NORMAL_PRIORITY_CLASS"/>
            </Component>
            <Component Id="openvpnserv.exe.reg7" Guid="{9E240139-F66F-45D9-8823-0FC9D738AF2B}">
                <RegistryValue
                    Root="HKLM"
                    Key="Software\eduVPN"
                    Name="ovpn_admin_group"
                    Type="string"
                    Value="Users"/>
            </Component>
            <Component Id="ssleay32.dll" Guid="{72639C55-D063-4A57-B7B7-1CD60945B97A}">
                <File Source="ssleay32.dll"/>
            </Component>
        </DirectoryRef>


        <!--
            Features
        -->
        <Feature Id="eduVPN.OpenVPN" Title="!(loc.ApplicationOpenVPNName)" Level="1">
            <ComponentRef Id="libeay32.dll"/>
            <ComponentRef Id="liblzo2_2.dll"/>
            <ComponentRef Id="libpkcs11_helper_1.dll"/>
            <ComponentRef Id="openvpn.exe"/>
            <ComponentRef Id="openvpnserv.exe"/>
            <ComponentRef Id="openvpnserv.exe.reg1"/>
            <ComponentRef Id="openvpnserv.exe.reg2"/>
            <ComponentRef Id="openvpnserv.exe.reg3"/>
            <ComponentRef Id="openvpnserv.exe.reg4"/>
            <ComponentRef Id="openvpnserv.exe.reg5"/>
            <ComponentRef Id="openvpnserv.exe.reg6"/>
            <ComponentRef Id="openvpnserv.exe.reg7"/>
            <ComponentRef Id="ssleay32.dll"/>
            <ComponentGroupRef Id="OpenVPN.Resources.dll"/>
        </Feature>
    </Product>
</Wix>
