<?xml version="1.0" encoding="utf-8"?>
<!--
    eduVPN - VPN for education and research

    Copyright: 2017-2022 The Commons Conservancy
    SPDX-License-Identifier: GPL-3.0+
-->
<Wix
    xmlns="http://schemas.microsoft.com/wix/2006/wi"
    xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension"
    xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
    xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <Bundle
        UpgradeCode="$(var.ClientUpgradeCode)"
        Version="$(var.Version)"
        Name="!(loc.$(var.ClientTarget).Name) $(var.Version)"
        Manufacturer="!(loc.ManufacturerName)"
        AboutUrl="$(var.ClientAboutUri)"
        Copyright="!(loc.LegalCopyright)"
        IconSourceFile="$(var.ClientTarget).Client\Resources\App.ico"
        Compressed="yes">

        <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense">
            <bal:WixStandardBootstrapperApplication
                LicenseUrl=""
                SuppressOptionsUI="yes"
                ThemeFile="Install\thm.xml"
                LogoFile="Install\$(var.ClientTarget)\logo.png"/>

            <!-- TODO: Implement RTL support first.
            <Payload
                Id="thm-ar"
                Compressed="yes"
                Name="1025\thm.wxl"
                SourceFile="Install\ar\thm.wxl"/>
            -->

            <Payload
                Id="thm-en"
                Compressed="yes"
                Name="thm.wxl"
                SourceFile="Install\thm.wxl"/>

            <Payload
                Id="thm-de"
                Compressed="yes"
                Name="1031\thm.wxl"
                SourceFile="Install\de\thm.wxl"/>

            <!-- Spanish (Latin America) -->
            <Payload Id="thm-es-419" Compressed="yes" Name="22538\thm.wxl"  SourceFile="Install\es\thm.wxl"/>
            <Payload Id="thm-es-AR" Compressed="yes" Name="11274\thm.wxl" SourceFile="Install\es\thm.wxl"/>
            <Payload Id="thm-es-BO" Compressed="yes" Name="16394\thm.wxl" SourceFile="Install\es\thm.wxl"/>
            <Payload Id="thm-es-CL" Compressed="yes" Name="13322\thm.wxl" SourceFile="Install\es\thm.wxl"/>
            <Payload Id="thm-es-CO" Compressed="yes" Name="9226\thm.wxl"  SourceFile="Install\es\thm.wxl"/>
            <Payload Id="thm-es-CR" Compressed="yes" Name="5130\thm.wxl"  SourceFile="Install\es\thm.wxl"/>
            <Payload Id="thm-es-CU" Compressed="yes" Name="23562\thm.wxl" SourceFile="Install\es\thm.wxl"/>
            <Payload Id="thm-es-DO" Compressed="yes" Name="7178\thm.wxl"  SourceFile="Install\es\thm.wxl"/>
            <Payload Id="thm-es-EC" Compressed="yes" Name="12298\thm.wxl" SourceFile="Install\es\thm.wxl"/>
            <Payload Id="thm-es-GT" Compressed="yes" Name="4106\thm.wxl"  SourceFile="Install\es\thm.wxl"/>
            <Payload Id="thm-es-HN" Compressed="yes" Name="18442\thm.wxl" SourceFile="Install\es\thm.wxl"/>
            <Payload Id="thm-es-MX" Compressed="yes" Name="2058\thm.wxl"  SourceFile="Install\es\thm.wxl"/>
            <Payload Id="thm-es-NI" Compressed="yes" Name="19466\thm.wxl" SourceFile="Install\es\thm.wxl"/>
            <Payload Id="thm-es-PA" Compressed="yes" Name="6154\thm.wxl"  SourceFile="Install\es\thm.wxl"/>
            <Payload Id="thm-es-PE" Compressed="yes" Name="10250\thm.wxl" SourceFile="Install\es\thm.wxl"/>
            <Payload Id="thm-es-PR" Compressed="yes" Name="20490\thm.wxl" SourceFile="Install\es\thm.wxl"/>
            <Payload Id="thm-es-PY" Compressed="yes" Name="15370\thm.wxl" SourceFile="Install\es\thm.wxl"/>
            <Payload Id="thm-es-SV" Compressed="yes" Name="17418\thm.wxl" SourceFile="Install\es\thm.wxl"/>
            <Payload Id="thm-es-US" Compressed="yes" Name="21514\thm.wxl" SourceFile="Install\es\thm.wxl"/>
            <Payload Id="thm-es-UY" Compressed="yes" Name="14346\thm.wxl" SourceFile="Install\es\thm.wxl"/>
            <Payload Id="thm-es-VE" Compressed="yes" Name="8202\thm.wxl"  SourceFile="Install\es\thm.wxl"/>

            <Payload
                Id="thm-fr"
                Compressed="yes"
                Name="1036\thm.wxl"
                SourceFile="Install\fr\thm.wxl"/>

            <Payload
                Id="thm-nl"
                Compressed="yes"
                Name="1043\thm.wxl"
                SourceFile="Install\nl\thm.wxl"/>

            <Payload
                Id="thm-sl"
                Compressed="yes"
                Name="1060\thm.wxl"
                SourceFile="Install\sl\thm.wxl"/>

            <Payload
                Id="thm-tr"
                Compressed="yes"
                Name="1055\thm.wxl"
                SourceFile="Install\tr\thm.wxl"/>

            <Payload
                Id="thm-uk"
                Compressed="yes"
                Name="1058\thm.wxl"
                SourceFile="Install\uk\thm.wxl"/>
        </BootstrapperApplicationRef>

        <Variable Name="AddDesktopShortcut" Value="1"/>
        <util:RegistrySearch
            Id="UserRegKeyExist"
            Variable="UserRegKeyExist"
            Result="exists"
            Root="HKCU" Key="SOFTWARE\$(var.ClientUrn)"/>
        <util:RegistrySearch
            Id="AddDesktopShortcut"
            Variable="AddDesktopShortcut"
            Result="exists"
            Root="HKCU" Key="SOFTWARE\$(var.ClientUrn)" Value="DesktopShortcut"
            Condition="UserRegKeyExist"
            After="UserRegKeyExist"/>

        <Variable Name="LaunchTarget" Value="[ProgramFiles6432Folder]$(var.ClientTitle)\Core\$(var.ClientTarget).Client.exe"/>

        <util:RegistrySearchRef Id="NETFRAMEWORK45"/>

        <Chain>
            <!--
                .NET Framework 4.8
            -->
            <ExePackage
                Id="NetFx48Redist"
                InstallCommand="/q /norestart /ChainingPackage &quot;[WixBundleName]&quot; /log &quot;[NetFx48FullLog].html&quot;"
                RepairCommand="/q /norestart /repair /ChainingPackage &quot;[WixBundleName]&quot; /log &quot;[NetFx48FullLog].html&quot;"
                UninstallCommand="/uninstall /q /norestart /ChainingPackage &quot;[WixBundleName]&quot; /log &quot;[NetFx48FullLog].html&quot;"
                PerMachine="yes"
                DetectCondition="NETFRAMEWORK45 &gt;= 528040"
                Vital="yes"
                Permanent="yes"
                Protocol="netfx4"
                DownloadUrl="https://go.microsoft.com/fwlink/?linkid=2088631"
                Compressed="no"
                Name="ndp48-x86-x64-allos-enu.exe">
                <RemotePayload
                    CertificatePublicKey="F49F9B33E25E33CCA0BFB15A62B7C29FFAB3880B"
                    CertificateThumbprint="ABDCA79AF9DD48A0EA702AD45260B3C03093FB4B"
                    Description="Microsoft .NET Framework 4.8 Setup"
                    Hash="E322E2E0FB4C86172C38A97DC6C71982134F0570"
                    ProductName="Microsoft .NET Framework 4.8"
                    Size="121307088"
                    Version="4.8.4115.0"/>
            </ExePackage>

            <!--
                Client
            -->
            <MsiPackage
                Id="$(var.ClientTarget)Client_x86"
                SourceFile="bin\Setup\$(var.ClientTarget)Client_$(var.Version)$(var.CfgTarget)_x86.msi"
                InstallCondition="NOT VersionNT64">
                <MsiProperty Name="AddDesktopShortcut" Value="[AddDesktopShortcut]"/>
            </MsiPackage>

            <MsiPackage
                Id="$(var.ClientTarget)Client_x64"
                SourceFile="bin\Setup\$(var.ClientTarget)Client_$(var.Version)$(var.CfgTarget)_x64.msi"
                InstallCondition="NativeMachine = 34404 OR VersionNT64 AND NOT NativeMachine">
                <MsiProperty Name="AddDesktopShortcut" Value="[AddDesktopShortcut]"/>
            </MsiPackage>

            <MsiPackage
                Id="$(var.ClientTarget)Client_ARM64"
                SourceFile="bin\Setup\$(var.ClientTarget)Client_$(var.Version)$(var.CfgTarget)_ARM64.msi"
                InstallCondition="NativeMachine = 43620">
                <MsiProperty Name="AddDesktopShortcut" Value="[AddDesktopShortcut]"/>
            </MsiPackage>
        </Chain>
    </Bundle>
</Wix>
