<?xml version="1.0" encoding="utf-8"?>
<!--
    Let's Connect! - The open source VPN

    Copyright: 2017-2019 The Commons Conservancy eduVPN Programme
    SPDX-License-Identifier: GPL-3.0+
-->
<Wix
    xmlns="http://schemas.microsoft.com/wix/2006/wi"
    xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
    <Product
        Id="$(var.Core.ProductGUID)"
        UpgradeCode="$(var.Core.UpgradeGUID)"
        Version="$(var.Core.Version)"
        Language="!(loc.ProductLanguage)"
        Name="!(loc.$(var.ClientTarget).CoreName) $(var.Core.VersionInformational)"
        Manufacturer="!(loc.ManufacturerName)">

        <Package
            InstallScope="perMachine"
            InstallerVersion="400"
            Compressed="yes"
            SummaryCodepage="!(loc.SummaryCodepage)"
            ReadOnly="yes"/>

        <Media
            Id="1"
            Cabinet="Core.cab"
            EmbedCab="yes"/>

        <Icon
            Id="App.ico"
            SourceFile="$(var.ClientTarget).Client\Resources\App.ico"/>

        <Property Id="ARPPRODUCTICON" Value="App.ico"/>
        <Property Id="ARPURLINFOABOUT" Value="$(var.ClientAboutUrl)"/>


        <!--
            Upgrading functionality
        -->
        <MajorUpgrade
            DowngradeErrorMessage="!(loc.NewerVersionInstalled)"
            Schedule="afterInstallExecute"/>
        <Property Id="BINDIRPREV">
            <ComponentSearch Id="Prism.dll" Guid="{9B4F3694-9A5E-41AF-AA24-E2E5F39A48C6}"/>
            <ComponentSearch Id="$(var.ClientTarget).Client.exe" Guid="{0405C4A5-06F1-4B2A-8F7B-7BE66F7DD8E4}"/>
            <ComponentSearch Id="$(var.ClientTarget).Client.exe.config" Guid="{03C290E0-70A5-4594-9801-F51D07CCF06B}"/>
        </Property>
        <SetProperty
            After="AppSearch"
            Action="SetBinDirPrev"
            Id="BINDIR"
            Value="[BINDIRPREV]"
            Sequence="first"><![CDATA[BINDIRPREV AND NOT Installed]]></SetProperty>
        <SetProperty
            After="SetBinDirPrev"
            Action="SetBinDirParam"
            Id="BINDIR"
            Value="[INSTALLDIR]"
            Sequence="first"><![CDATA[INSTALLDIR AND NOT Installed]]></SetProperty>


        <!--
            .NET Framework check
        -->
        <PropertyRef Id="NETFRAMEWORK45"/>
        <Condition Message="!(loc.DotNETFrameworkMissing)"><![CDATA[Installed OR NETFRAMEWORK45]]></Condition>


        <!--
            Folders
        -->
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="$(var.ProgramFilesFolder)">
                <Directory Id="PRODUCTDIR" Name="$(var.ClientTitle)">
                    <Directory Id="BINDIR" Name="Core" FileSource="$(var.TargetDir)">
                        <Directory Id="RESDIRFR" Name="fr"/>
                        <Directory Id="RESDIRNL" Name="nl"/>
                        <Directory Id="RESDIRSL" Name="sl"/>
                        <Directory Id="RESDIRUK" Name="uk"/>
                    </Directory>
                </Directory>
            </Directory>
            <Directory Id="ProgramMenuFolder"/>
            <Directory Id="DesktopFolder"/>

            <Merge Id="VC150Redist" SourceFile="$(var.VC150RedistMSM)" DiskId="1" Language="0"/>
        </Directory>


        <!--
            Compontents
        -->
        <DirectoryRef Id="BINDIR">
            <!-- Add/Remove Programs Localization -->
            <Component Id="ARP.DisplayName" Guid="{F21C1412-AC8F-465B-B70A-89789A82964F}">
                <RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\[ProductCode]" Name="DisplayName_Localized" Type="string" Value="@[BINDIR]eduVPN.Resources.dll,-104"/>
            </Component>
            <Component Id="ARP.Publisher" Guid="{667D4687-F06C-4A85-A053-DCCFE3766D55}">
                <RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\[ProductCode]" Name="Publisher_Localized" Type="string" Value="@[BINDIR]eduVPN.Resources.dll,-103"/>
            </Component>
        </DirectoryRef>


        <!--
            Features
        -->
        <Feature Id="$(var.ClientTarget).Client" Title="!(loc.$(var.ClientTarget).CoreName)" Level="1">
            <MergeRef Id="VC150Redist"/>
            <ComponentRef Id="ARP.DisplayName"/>
            <ComponentRef Id="ARP.Publisher"/>

            <ComponentGroupRef Id="$(var.ClientTarget).Client.exe"/>
        </Feature>


        <!--
            Prism
        -->
        <DirectoryRef Id="BINDIR">
            <Component Id="Prism.dll" Guid="{9B4F3694-9A5E-41AF-AA24-E2E5F39A48C6}">
                <File Source="Prism.dll"/>
            </Component>
        </DirectoryRef>
        <ComponentGroup Id="Prism.dll">
            <ComponentRef Id="Prism.dll"/>
        </ComponentGroup>
    </Product>
</Wix>
