<?xml version="1.0" encoding="utf-8"?>
<!--
    Let's Connect! - The open source VPN

    Copyright: 2017-2019 The Commons Conservancy eduVPN Programme
    SPDX-License-Identifier: GPL-3.0+
-->
<Wix
    xmlns="http://schemas.microsoft.com/wix/2006/wi"
    xmlns:iis="http://schemas.microsoft.com/wix/IIsExtension">
    <Product
        Id="$(var.TAPWinPre.ProductGUID)"
        UpgradeCode="$(var.TAPWinPre.UpgradeGUID)"
        Version="$(var.TAPWinPre.Version)"
        Language="!(loc.ProductLanguage)"
        Name="!(loc.$(var.ClientTarget).TAPWinPreName) $(var.TAPWinPre.VersionInformational)"
        Manufacturer="!(loc.ManufacturerName)">

        <Package
            InstallScope="perMachine"
            InstallerVersion="200"
            Compressed="yes"
            SummaryCodepage="!(loc.SummaryCodepage)"
            ReadOnly="yes"/>

        <Media
            Id="1"
            Cabinet="TAPWinPre.cab"
            EmbedCab="yes"/>

        <Property Id="ARPURLINFOABOUT" Value="$(var.ClientAboutUrl)"/>

        <Binary Id="tap0901.cer" SourceFile="tap0901.cer"/>


        <!--
            Upgrading functionality
        -->
        <MajorUpgrade
            DowngradeErrorMessage="!(loc.NewerVersionInstalled)"
            Schedule="afterInstallExecute"/>
        <Property Id="BINDIRPREV">
            <ComponentSearch Id="tap0901.cer" Guid="{DA41DE05-8DED-4573-A42B-23E583CCD6E6}"/>
        </Property>
        <SetProperty
            After="AppSearch"
            Action="SetBinDirPrev"
            Id="BINDIR"
            Value="[BINDIRPREV]"
            Sequence="first"><![CDATA[BINDIRPREV AND NOT Installed]]></SetProperty>
        <SetProperty
            After="SetBinDirPrev"
            Action="SetBinDirParam"
            Id="BINDIR"
            Value="[INSTALLDIR]"
            Sequence="first"><![CDATA[INSTALLDIR AND NOT Installed]]></SetProperty>


        <!--
            Folders
        -->
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="$(var.ProgramFilesFolder)">
                <Directory Id="PRODUCTDIR" Name="$(var.ClientTitle)">
                    <Directory Id="BINDIR" Name="TAPWinPre" FileSource="$(var.TargetDir)"/>
                </Directory>
            </Directory>
        </Directory>


        <!--
            Compontents
        -->
        <DirectoryRef Id="BINDIR">
            <Component Id="tap0901.cer" Guid="{DA41DE05-8DED-4573-A42B-23E583CCD6E6}">
                <File Source="tap0901.cer"/>
                <iis:Certificate
                    Id="OpenVPNTechCert"
                    Name="OpenVPN Technologies, Inc."
                    StoreLocation="localMachine"
                    StoreName="trustedPublisher"
                    BinaryKey="tap0901.cer"
                    Request="no"/>
            </Component>
        </DirectoryRef>


        <!--
            Features
        -->
        <Feature Id="TAPWinPre" Title="!(loc.$(var.ClientTarget).TAPWinPreName)" Level="1">
            <ComponentRef Id="tap0901.cer"/>
        </Feature>
    </Product>
</Wix>
