<?xml version="1.0" encoding="utf-8"?>
<!--
    eduVPN - End-user friendly VPN

    Copyright: 2017, The Commons Conservancy eduVPN Programme
    SPDX-License-Identifier: GPL-3.0+
-->
<Wix
    xmlns="http://schemas.microsoft.com/wix/2006/wi"
    xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <Fragment>
        <util:RegistrySearch
            Id="OpenVPNExecutablePath"
            Root="HKLM"
            Key="SOFTWARE\OpenVPN"
            Win64="yes"
            Value="exe_path"
            Variable="OpenVPNExecutablePath"/>
        <util:FileSearch
            Id="OpenVPNExecutableVersion"
            After="OpenVPNExecutablePath"
            Path="[OpenVPNExecutablePath]"
            Result="version"
            Variable="OpenVPNExecutableVersion"/>

        <PackageGroup
            Id="OpenVPN243Web">
            <ExePackage
                Id="OpenVPN243Web"
                DisplayName="OpenVPN 2.4.3"
                Cache="yes"
                Compressed="no"
                PerMachine="yes"
                Permanent="yes"
                Vital="yes"
                Name="openvpn-install-2.4.3-I601.exe"
                SourceFile="bin\Setup\openvpn-install-2.4.3-I601.exe"
                DownloadUrl="https://swupdate.openvpn.org/community/releases/openvpn-install-2.4.3-I601.exe"
                InstallCommand="/S /SELECT_OPENVPN=1 /SELECT_SERVICE=0 /SELECT_TAP=1 /SELECT_OPENVPNGUI=0 /SELECT_ASSOCIATIONS=0 /SELECT_OPENSSL_UTILITIES=0 /SELECT_EASYRSA=0 /SELECT_PATH=0 /SELECT_SHORTCUTS=0 /SELECT_LAUNCH=0 /SELECT_OPENSSLDLLS=1 /SELECT_LZODLLS=1 /SELECT_PKCS11DLLS=1"
                DetectCondition="OpenVPNExecutableVersion &gt;= v2.4.3.0"/>
        </PackageGroup>

        <PackageGroup
            Id="OpenVPN243Redist">
            <ExePackage
                Id="OpenVPN243Redist"
                DisplayName="OpenVPN 2.4.3"
                Cache="yes"
                Compressed="yes"
                PerMachine="yes"
                Permanent="yes"
                Vital="yes"
                Name="openvpn-install-2.4.3-I601.exe"
                SourceFile="bin\Setup\openvpn-install-2.4.3-I601.exe"
                InstallCommand="/S /SELECT_OPENVPN=1 /SELECT_SERVICE=0 /SELECT_TAP=1 /SELECT_OPENVPNGUI=0 /SELECT_ASSOCIATIONS=0 /SELECT_OPENSSL_UTILITIES=0 /SELECT_EASYRSA=0 /SELECT_PATH=0 /SELECT_SHORTCUTS=0 /SELECT_LAUNCH=0 /SELECT_OPENSSLDLLS=1 /SELECT_LZODLLS=1 /SELECT_PKCS11DLLS=1"
                DetectCondition="OpenVPNExecutableVersion &gt;= v2.4.3.0"/>
        </PackageGroup>
    </Fragment>
</Wix>
