<?xml version="1.0" encoding="utf-8"?>
<!--
    eduVPN - VPN for education and research

    Copyright: 2017-2019 The Commons Conservancy eduVPN Programme
    SPDX-License-Identifier: GPL-3.0+
-->
<Wix
    xmlns="http://schemas.microsoft.com/wix/2006/wi"
    xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <Fragment>
        <util:RegistrySearch
            Id="Windows10VersionMaj"
            Root="HKLM"
            Key="SOFTWARE\Microsoft\Windows NT\CurrentVersion"
            Value="CurrentMajorVersionNumber"
            Format="raw"
            Variable="Windows10VersionMaj"/>
        <util:RegistrySearch
            Id="TAPWindowsPath"
            Root="HKLM"
            Key="SYSTEM\CurrentControlSet\services\tap0901"
            Value="ImagePath"
            Variable="TAPWindowsPath"
            ExpandEnvironmentVariables="yes"/>
        <util:FileSearch
            Id="TAPWindowsDriverVersion"
            After="TAPWindowsPath"
            Path="[WindowsFolder][TAPWindowsPath]"
            Result="version"
            Variable="TAPWindowsDriverVersion"/>

        <PackageGroup
            Id="TAPWindows924Redist">
            <ExePackage
                Id="TAPWindows924Win7Redist"
                DisplayName="TAP-Windows 9.24.2 for Windows 7, 8 and 8.1"
                Cache="yes"
                Compressed="yes"
                PerMachine="yes"
                Permanent="yes"
                Vital="yes"
                Name="tap-windows-9.24.2-I601-Win7.exe"
                SourceFile="bin\Setup\tap-windows-9.24.2-I601-Win7.exe"
                InstallCommand="/S"
                DetectCondition="TAPWindowsDriverVersion &gt;= v9.24.2.601"
                InstallCondition="NOT Windows10VersionMaj"/>
            <ExePackage
                Id="TAPWindows924Win10Redist"
                DisplayName="TAP-Windows 9.24.2 for Windows 10"
                Cache="yes"
                Compressed="yes"
                PerMachine="yes"
                Permanent="yes"
                Vital="yes"
                Name="tap-windows-9.24.2-I601-Win10.exe"
                SourceFile="bin\Setup\tap-windows-9.24.2-I601-Win10.exe"
                InstallCommand="/S"
                DetectCondition="TAPWindowsDriverVersion &gt;= v9.24.2.601"
                InstallCondition="Windows10VersionMaj"/>
        </PackageGroup>
    </Fragment>
</Wix>
