<?xml version="1.0" encoding="utf-8"?>
<!--
    eduVPN - End-user friendly VPN

    Copyright: 2017, The Commons Conservancy eduVPN Programme
    SPDX-License-Identifier: GPL-3.0+
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <!--
            Components
        -->
        <DirectoryRef Id="BINDIR">
            <Component Id="eduVPN.Resources.dll" Guid="{39778E20-4F27-40B2-90C3-FC16A28E70B5}">
                <File Source="eduVPN.Resources.dll"/>
            </Component>

            <!-- Add/Remove Programs Localization -->
            <Component Id="ARP.DisplayName" Guid="{724B49D3-30BE-419B-9041-EA85BF971A58}">
                <RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\[ProductCode]" Name="DisplayName_Localized" Type="string" Value="@[#eduVPN.Resources.dll],-4"/>
            </Component>
            <Component Id="ARP.Publisher" Guid="{17532E47-CB46-4A70-8AFA-B25A829B9E1A}">
                <RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\[ProductCode]" Name="Publisher_Localized" Type="string" Value="@[#eduVPN.Resources.dll],-3"/>
            </Component>
        </DirectoryRef>


        <!--
            Component groups
        -->
        <ComponentGroup Id="eduVPN.Resources.dll">
            <ComponentRef Id="eduVPN.Resources.dll"/>
            <ComponentRef Id="ARP.DisplayName"/>
            <ComponentRef Id="ARP.Publisher"/>
        </ComponentGroup>
    </Fragment>
</Wix>
