// Microsoft Visual C++ generated resource script.
//
#include "resource.h"
#pragma code_page(65001) // UTF8

#define APSTUDIO_READONLY_SYMBOLS
#include <winres.h>
#undef APSTUDIO_READONLY_SYMBOLS

/////////////////////////////////////////////////////////////////////////////
// English (United States) resources

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

VS_VERSION_INFO VERSIONINFO
	FILEVERSION 2,255,5,0
	PRODUCTVERSION 2,255,5,0
	FILEFLAGSMASK VS_FF_DEBUG | VS_FF_PRERELEASE | VS_FF_PATCHED | VS_FF_PRIVATEBUILD | VS_FF_SPECIALBUILD
#ifdef _DEBUG
	FILEFLAGS VS_FF_DEBUG
#else
	FILEFLAGS 0x0L
#endif
	FILEOS VOS_NT_WINDOWS32
	FILETYPE VFT_DLL
	FILESUBTYPE 0x0L
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904b0"
		BEGIN
			VALUE "CompanyName",      "SURF"
			VALUE "FileDescription",  "eduVPN Native Resources"
			VALUE "FileVersion",      "2.255.5"
			VALUE "LegalCopyright",   "Copyright © 2017-2022 The Commons Conservancy"
			VALUE "OriginalFilename", "eduVPN.Resources.dll"
			VALUE "ProductName",      "eduVPN"
			VALUE "ProductVersion",   "2.255.5"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x409, 1200
	END
END

STRINGTABLE
BEGIN
	IDS_EDUVPN_CLIENT_TITLE                 "eduVPN Client"
	IDS_EDUVPN_CLIENT_DESCRIPTION           "VPN for education and research"
	IDS_EDUVPN_CLIENT_PUBLISHER             "SURF"
	IDS_EDUVPN_INTERACTIVE_TITLE            "OpenVPN Interactive Service (eduVPN)"
	IDS_EDUVPN_INTERACTIVE_DESCRIPTION      "Enables OpenVPN connection network configuration management. If stopped or disabled, eduVPN client will not function."

	IDS_LETSCONNECT_CLIENT_TITLE            "Let's Connect! Client"
	IDS_LETSCONNECT_CLIENT_DESCRIPTION      "The open source VPN"
	IDS_LETSCONNECT_CLIENT_PUBLISHER        "SURF"
	IDS_LETSCONNECT_INTERACTIVE_TITLE       "OpenVPN Interactive Service (Let's Connect!)"
	IDS_LETSCONNECT_INTERACTIVE_DESCRIPTION "Enables OpenVPN connection network configuration management. If stopped or disabled, Let's Connect! client will not function."
END

/////////////////////////////////////////////////////////////////////////////
// French resources

LANGUAGE LANG_FRENCH, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
	IDS_EDUVPN_CLIENT_TITLE                 "eduVPN Client"
	IDS_EDUVPN_CLIENT_DESCRIPTION           "VPN pour l'éducation et la recherche"
	IDS_EDUVPN_CLIENT_PUBLISHER             "SURF"
	IDS_EDUVPN_INTERACTIVE_TITLE            "Service Interactif OpenVPN (eduVPN)"
	IDS_EDUVPN_INTERACTIVE_DESCRIPTION      "Permet la gestion de la configuration des connexions réseaux OpenVPN. Si arrêté ou désactivé, le client eduVPN ne fonctionnera pas."

	IDS_LETSCONNECT_CLIENT_TITLE            "Let's Connect! Client"
	IDS_LETSCONNECT_CLIENT_DESCRIPTION      "Le VPN open source"
	IDS_LETSCONNECT_CLIENT_PUBLISHER        "SURF"
	IDS_LETSCONNECT_INTERACTIVE_TITLE       "OpenVPN Interactive Service (Let's Connect!)"
	IDS_LETSCONNECT_INTERACTIVE_DESCRIPTION "Permet la gestion de la configuration des connexions réseaux OpenVPN. Si arrêté ou désactivé, le client Let's Connect! ne fonctionnera pas."
END

/////////////////////////////////////////////////////////////////////////////
// Dutch resources

LANGUAGE LANG_DUTCH, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
	IDS_EDUVPN_CLIENT_TITLE                 "eduVPN Client"
	IDS_EDUVPN_CLIENT_DESCRIPTION           "VPN voor onderwijs en onderzoek"
	IDS_EDUVPN_CLIENT_PUBLISHER             "SURF"
	IDS_EDUVPN_INTERACTIVE_TITLE            "OpenVPN Interactive Service (eduVPN)"
	IDS_EDUVPN_INTERACTIVE_DESCRIPTION      "Maakt OpenVPN-verbinding netwerkconfiguratiebeheer mogelijk. Indien gestopt of uitgeschakeld, zal de eduVPN-client niet werken."

	IDS_LETSCONNECT_CLIENT_TITLE            "Let's Connect! Client"
	IDS_LETSCONNECT_CLIENT_DESCRIPTION      "Open source VPN"
	IDS_LETSCONNECT_CLIENT_PUBLISHER        "SURF"
	IDS_LETSCONNECT_INTERACTIVE_TITLE       "OpenVPN Interactive Service (Let's Connect!)"
	IDS_LETSCONNECT_INTERACTIVE_DESCRIPTION "Maakt OpenVPN-verbinding netwerkconfiguratiebeheer mogelijk. Indien gestopt of uitgeschakeld, zal de Let's Connect!-client niet werken."
END

/////////////////////////////////////////////////////////////////////////////
// Slovenian resources

LANGUAGE LANG_SLOVENIAN, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
	IDS_EDUVPN_CLIENT_TITLE                 "Odjemalec eduVPN"
	IDS_EDUVPN_CLIENT_DESCRIPTION           "VPN za izobraževanje in raziskave"
	IDS_EDUVPN_CLIENT_PUBLISHER             "SURF"
	IDS_EDUVPN_INTERACTIVE_TITLE            "Interaktivna storitev OpenVPN (eduVPN)"
	IDS_EDUVPN_INTERACTIVE_DESCRIPTION      "Omogoča upravljanje nastavitev omrežja za povezave OpenVPN. Če je ta storitev zaustavljena ali onemogočena, odjemalec eduVPN ne bo deloval."

	IDS_LETSCONNECT_CLIENT_TITLE            "Odjemalec Let's Connect!"
	IDS_LETSCONNECT_CLIENT_DESCRIPTION      "Odprtokodni VPN"
	IDS_LETSCONNECT_CLIENT_PUBLISHER        "SURF"
	IDS_LETSCONNECT_INTERACTIVE_TITLE       "Interaktivna storitev OpenVPN (Let's Connect!)"
	IDS_LETSCONNECT_INTERACTIVE_DESCRIPTION "Omogoča upravljanje nastavitev omrežja za povezave OpenVPN. Če je ta storitev zaustavljena ali onemogočena, odjemalec Let's Connect! ne bo deloval."
END

/////////////////////////////////////////////////////////////////////////////
// Ukrainian resources

LANGUAGE LANG_UKRAINIAN, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
	IDS_EDUVPN_CLIENT_TITLE                 "Клієнт eduVPN"
	IDS_EDUVPN_CLIENT_DESCRIPTION           "VPN для освіти та досліджень"
	IDS_EDUVPN_CLIENT_PUBLISHER             "SURF"
	IDS_EDUVPN_INTERACTIVE_TITLE            "OpenVPN Інтерактивна служба (eduVPN)"
	IDS_EDUVPN_INTERACTIVE_DESCRIPTION      "Вмикає керування конфігурацією мережі підключення OpenVPN. Якщо зупинено або відключено, клієнт eduVPN не працюватиме."

	IDS_LETSCONNECT_CLIENT_TITLE            "Клієнт Let's Connect!"
	IDS_LETSCONNECT_CLIENT_DESCRIPTION      "VPN з відкритим кодом"
	IDS_LETSCONNECT_CLIENT_PUBLISHER        "SURF"
	IDS_LETSCONNECT_INTERACTIVE_TITLE       "OpenVPN Інтерактивна служба (Let's Connect!)"
	IDS_LETSCONNECT_INTERACTIVE_DESCRIPTION "Вмикає керування конфігурацією мережі підключення OpenVPN. Якщо зупинено або відключено, клієнт Let's Connect! не працюватиме."
END

/////////////////////////////////////////////////////////////////////////////
// German resources

LANGUAGE LANG_GERMAN, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
	IDS_EDUVPN_CLIENT_TITLE                 "eduVPN-Client"
	IDS_EDUVPN_CLIENT_DESCRIPTION           "VPN für Forschung und Lehre"
	IDS_EDUVPN_CLIENT_PUBLISHER             "SURF"
	IDS_EDUVPN_INTERACTIVE_TITLE            "Interaktiver OpenVPN Dienst (eduVPN)"
	IDS_EDUVPN_INTERACTIVE_DESCRIPTION      "Ermöglicht die Verwaltung der Konfiguration von OpenVPN-Verbindungsnetzwerken. Wenn angehalten oder deaktiviert, funktioniert der eduVPN-Client nicht."

	IDS_LETSCONNECT_CLIENT_TITLE            "Let's Connect!-Client"
	IDS_LETSCONNECT_CLIENT_DESCRIPTION      "Das Open-Source-VPN"
	IDS_LETSCONNECT_CLIENT_PUBLISHER        "SURF"
	IDS_LETSCONNECT_INTERACTIVE_TITLE       "Interaktiver OpenVPN Dienst (Let's Connect!)"
	IDS_LETSCONNECT_INTERACTIVE_DESCRIPTION "Ermöglicht die Verwaltung der Konfiguration von OpenVPN-Verbindungsnetzwerken. Wenn angehalten oder deaktiviert, funktioniert Let's Connect! client nicht."
END

/////////////////////////////////////////////////////////////////////////////
// Arabic resources

LANGUAGE LANG_ARABIC, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
	IDS_EDUVPN_CLIENT_TITLE                 "عميل eduVPN"
	IDS_EDUVPN_CLIENT_DESCRIPTION           "الشبكة الخاصة الافتراضية للتعليم والبحث"
	IDS_EDUVPN_CLIENT_PUBLISHER             "SURF"
	IDS_EDUVPN_INTERACTIVE_TITLE            "خدمة OpenVPN التفاعلية (eduVPN)"
	IDS_EDUVPN_INTERACTIVE_DESCRIPTION      "يمكن من إدارة تكوين شبكة اتصال OpenVPN. إذا تم إيقافه أو تعطيله ، فلن يعمل عميل eduVPN."

	IDS_LETSCONNECT_CLIENT_TITLE            "عميل Let's Connect!"
	IDS_LETSCONNECT_CLIENT_DESCRIPTION      "الشبكة الخاصة الافتراضية مفتوحة المصدر"
	IDS_LETSCONNECT_CLIENT_PUBLISHER        "SURF"
	IDS_LETSCONNECT_INTERACTIVE_TITLE       "خدمة OpenVPN التفاعلية (Let's Connect!)"
	IDS_LETSCONNECT_INTERACTIVE_DESCRIPTION "يمكن من إدارة تكوين شبكة اتصال OpenVPN. إذا تم إيقافه أو تعطيله ، فلن يعمل عميل Let's Connect!."
END

/////////////////////////////////////////////////////////////////////////////
// Turkish resources

LANGUAGE LANG_TURKISH, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
	IDS_EDUVPN_CLIENT_TITLE                 "eduVPN İstemcisi"
	IDS_EDUVPN_CLIENT_DESCRIPTION           "Eğitim ve araştırma için VPN"
	IDS_EDUVPN_CLIENT_PUBLISHER             "SURF"
	IDS_EDUVPN_INTERACTIVE_TITLE            "OpenVPN Etkileşimli Hizmet (eduVPN)"
	IDS_EDUVPN_INTERACTIVE_DESCRIPTION      "OpenVPN ağ bağlantılarının konfigürasyon yönetimine izin verir. Durdurulursa veya devre dışı bırakılırsa, eduVPN istemcisi çalışmayacaktır."

	IDS_LETSCONNECT_CLIENT_TITLE            "Let's Connect! İstemci"
	IDS_LETSCONNECT_CLIENT_DESCRIPTION      "Açık kaynak VPN"
	IDS_LETSCONNECT_CLIENT_PUBLISHER        "SURF"
	IDS_LETSCONNECT_INTERACTIVE_TITLE       "OpenVPN Etkileşimli Hizmet (Let's Connect!)"
	IDS_LETSCONNECT_INTERACTIVE_DESCRIPTION "OpenVPN ağ bağlantılarının konfigürasyon yönetimine izin verir. Durdurulursa veya devre dışı bırakılırsa, Let's Connect! çalışmayacak."
END

/////////////////////////////////////////////////////////////////////////////
// Spanish (Latin America) resources

#define X(l, s) \
LANGUAGE l, s \
\
STRINGTABLE \
BEGIN \
	IDS_EDUVPN_CLIENT_TITLE                 "Cliente eduVPN" \
	IDS_EDUVPN_CLIENT_DESCRIPTION           "VPN para educación e investigación" \
	IDS_EDUVPN_CLIENT_PUBLISHER             "SURF" \
	IDS_EDUVPN_INTERACTIVE_TITLE            "Servicio Interactivo OpenVPN (eduVPN)" \
	IDS_EDUVPN_INTERACTIVE_DESCRIPTION      "Habilita la administración de la configuración de red de la conexión OpenVPN. Si se detiene o deshabilita, el cliente eduVPN no funcionará." \
\
	IDS_LETSCONNECT_CLIENT_TITLE            "Cliente Let's Connect!" \
	IDS_LETSCONNECT_CLIENT_DESCRIPTION      "La VPN de código abierto" \
	IDS_LETSCONNECT_CLIENT_PUBLISHER        "SURF" \
	IDS_LETSCONNECT_INTERACTIVE_TITLE       "Servicio Interactivo OpenVPN (Let's Connect!)" \
	IDS_LETSCONNECT_INTERACTIVE_DESCRIPTION "Habilita la administración de la configuración de red de la conexión OpenVPN. Si se detiene o deshabilita, el cliente Let's Connect! no funcionará." \
END

X(LANG_SPANISH, SUBLANG_SPANISH_MEXICAN)
X(LANG_SPANISH, SUBLANG_SPANISH_GUATEMALA)
X(LANG_SPANISH, SUBLANG_SPANISH_COSTA_RICA)
X(LANG_SPANISH, SUBLANG_SPANISH_PANAMA)
X(LANG_SPANISH, SUBLANG_SPANISH_DOMINICAN_REPUBLIC)
X(LANG_SPANISH, SUBLANG_SPANISH_VENEZUELA)
X(LANG_SPANISH, SUBLANG_SPANISH_COLOMBIA)
X(LANG_SPANISH, SUBLANG_SPANISH_PERU)
X(LANG_SPANISH, SUBLANG_SPANISH_ARGENTINA)
X(LANG_SPANISH, SUBLANG_SPANISH_ECUADOR)
X(LANG_SPANISH, SUBLANG_SPANISH_CHILE)
X(LANG_SPANISH, SUBLANG_SPANISH_URUGUAY)
X(LANG_SPANISH, SUBLANG_SPANISH_PARAGUAY)
X(LANG_SPANISH, SUBLANG_SPANISH_BOLIVIA)
X(LANG_SPANISH, SUBLANG_SPANISH_EL_SALVADOR)
X(LANG_SPANISH, SUBLANG_SPANISH_HONDURAS)
X(LANG_SPANISH, SUBLANG_SPANISH_NICARAGUA)
X(LANG_SPANISH, SUBLANG_SPANISH_PUERTO_RICO)
X(LANG_SPANISH, SUBLANG_SPANISH_US)
X(LANG_SPANISH, 0x16) // Latin America
X(LANG_SPANISH, 0x17) // Cuba

#undef X

/////////////////////////////////////////////////////////////////////////////
// Spanish (Spain) resources

LANGUAGE LANG_SPANISH, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
	IDS_EDUVPN_CLIENT_TITLE                 "eduVPN Client"
	IDS_EDUVPN_CLIENT_DESCRIPTION           "VPN for education and research"
	IDS_EDUVPN_CLIENT_PUBLISHER             "SURF"
	IDS_EDUVPN_INTERACTIVE_TITLE            "OpenVPN Interactive Service (eduVPN)"
	IDS_EDUVPN_INTERACTIVE_DESCRIPTION      "Enables OpenVPN connection network configuration management. If stopped or disabled, eduVPN client will not function."

	IDS_LETSCONNECT_CLIENT_TITLE            "Let's Connect! Client"
	IDS_LETSCONNECT_CLIENT_DESCRIPTION      "The open source VPN"
	IDS_LETSCONNECT_CLIENT_PUBLISHER        "SURF"
	IDS_LETSCONNECT_INTERACTIVE_TITLE       "OpenVPN Interactive Service (Let's Connect!)"
	IDS_LETSCONNECT_INTERACTIVE_DESCRIPTION "Enables OpenVPN connection network configuration management. If stopped or disabled, Let's Connect! client will not function."
END
