<?xml version="1.0" encoding="utf-8" ?>
<!--
    eduVPN - VPN for education and research

    Copyright: 2017-2018 The Commons Conservancy eduVPN Programme
    SPDX-License-Identifier: GPL-3.0+
-->
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="eduVPN.Views.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <eduVPN.Views.Properties.Settings>
            <!--
                Client window top coordinate

                NaN for automatic placement.

                If any part of the window falls outside of the visible desktop
                the coordinate is adjusted accordingly.
            -->
            <setting name="WindowTop" serializeAs="String">
                <value>NaN</value>
            </setting>

            <!--
                Client window left coordinate

                NaN for automatic placement.

                If any part of the window falls outside of the visible desktop
                the coordinate is adjusted accordingly.
            -->
            <setting name="WindowLeft" serializeAs="String">
                <value>NaN</value>
            </setting>
        </eduVPN.Views.Properties.Settings>
    </userSettings>
</configuration>