<?xml version="1.0" encoding="utf-8"?>
<!--
    eduVPN - VPN for education and research

    Copyright: 2017-2019 The Commons Conservancy eduVPN Programme
    SPDX-License-Identifier: GPL-3.0+
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <!--
            Components
        -->
        <DirectoryRef Id="BINDIR">
            <Component Id="eduVPN.Views.dll" Guid="{34C9B131-FFE8-4A07-9393-9683C6FDB3F7}">
                <File Source="eduVPN.Views.dll"/>
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="RESDIRFR">
            <Component Id="eduVPN.Views.resources.dll.fr" Guid="{7DBDEF6D-BA5E-4842-AB2F-E3146811D76C}">
                <File Id="eduVPN.Views.resources.dll.fr" Source="fr\eduVPN.Views.resources.dll"/>
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="RESDIRNL">
            <Component Id="eduVPN.Views.resources.dll.nl" Guid="{0FA52766-C1A8-447D-8C1B-D706F6C9F9B2}">
                <File Id="eduVPN.Views.resources.dll.nl" Source="nl\eduVPN.Views.resources.dll"/>
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="RESDIRSL">
            <Component Id="eduVPN.Views.resources.dll.sl" Guid="{427ECC36-EB2D-4326-8417-6983A1B62FC5}">
                <File Id="eduVPN.Views.resources.dll.sl" Source="sl\eduVPN.Views.resources.dll"/>
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="RESDIRUK">
            <Component Id="eduVPN.Views.resources.dll.uk" Guid="{D60E0669-CB2C-4B25-B782-7F3A79602A95}">
                <File Id="eduVPN.Views.resources.dll.uk" Source="uk\eduVPN.Views.resources.dll"/>
            </Component>
        </DirectoryRef>


        <!--
            Component groups
        -->
        <ComponentGroup Id="eduVPN.Views.dll">
            <ComponentGroupRef Id="eduOAuth.dll"/>
            <ComponentGroupRef Id="eduOpenVPN.dll"/>
            <ComponentGroupRef Id="eduVPN.dll"/>
            <ComponentGroupRef Id="Prism.dll"/>

            <ComponentRef Id="eduVPN.Views.dll"/>
            <ComponentRef Id="eduVPN.Views.resources.dll.fr"/>
            <ComponentRef Id="eduVPN.Views.resources.dll.nl"/>
            <ComponentRef Id="eduVPN.Views.resources.dll.sl"/>
            <ComponentRef Id="eduVPN.Views.resources.dll.uk"/>
        </ComponentGroup>
    </Fragment>
</Wix>
