<?xml version="1.0" encoding="utf-8"?>
<!--
    eduVPN - VPN for education and research

    Copyright: 2017-2019 The Commons Conservancy eduVPN Programme
    SPDX-License-Identifier: GPL-3.0+
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <!--
            Components
        -->
        <DirectoryRef Id="BINDIR">
            <Component Id="OpenVPN.Resources.dll" Guid="{B1F28A18-CDC3-4D0D-B0E9-4BC79E876E4E}">
                <File Source="OpenVPN.Resources.dll"/>
            </Component>
        </DirectoryRef>


        <!--
            Component groups
        -->
        <ComponentGroup Id="OpenVPN.Resources.dll">
            <ComponentRef Id="OpenVPN.Resources.dll"/>
        </ComponentGroup>
    </Fragment>
</Wix>
