<?xml version="1.0" encoding="utf-8"?>
<!--
    eduVPN - End-user friendly VPN

    Copyright: 2017, The Commons Conservancy eduVPN Programme
    SPDX-License-Identifier: GPL-3.0+
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <!--
            Components
        -->
        <DirectoryRef Id="BINDIR">
            <Component Id="OpenVPN.Resources.dll" Guid="{B1F28A18-CDC3-4D0D-B0E9-4BC79E876E4E}">
                <File Source="OpenVPN.Resources.dll"/>
            </Component>

            <!-- Add/Remove Programs Localization -->
            <Component Id="ARP.DisplayName" Guid="{DFE94916-719C-4D78-A188-35E8DC1933F5}">
                <RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\[ProductCode]" Name="DisplayName_Localized" Type="string" Value="@[BINDIR]OpenVPN.Resources.dll,-1"/>
            </Component>
            <Component Id="ARP.Publisher" Guid="{E374F094-604D-4E75-BA7D-8D21FA6AE50F}">
                <RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\[ProductCode]" Name="Publisher_Localized" Type="string" Value="@[BINDIR]OpenVPN.Resources.dll,-2"/>
            </Component>
        </DirectoryRef>


        <!--
            Component groups
        -->
        <ComponentGroup Id="OpenVPN.Resources.dll">
            <ComponentRef Id="OpenVPN.Resources.dll"/>
            <ComponentRef Id="ARP.DisplayName"/>
            <ComponentRef Id="ARP.Publisher"/>
        </ComponentGroup>
    </Fragment>
</Wix>
