<?xml version="1.0" encoding="utf-8"?>
<!--
    eduJSON - A Lightweight JSON Parser for eduVPN (and beyond)

    Copyright: 2017, The Commons Conservancy eduVPN Programme
    SPDX-License-Identifier: GPL-3.0+
-->
<packages>
  <package id="MSTest.TestAdapter" version="1.1.18" targetFramework="net45" />
  <package id="MSTest.TestFramework" version="1.1.18" targetFramework="net45" />
</packages>