<?xml version="1.0" encoding="utf-8"?>
<!--
    eduVPN - End-user friendly VPN

    Copyright: 2017, The Commons Conservancy eduVPN Programme
    SPDX-License-Identifier: GPL-3.0+
-->
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="eduVPN.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <eduVPN.Client.Properties.Settings>
            <setting name="WindowTop" serializeAs="String">
                <value>NaN</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>NaN</value>
            </setting>
            <setting name="SettingsVersion" serializeAs="String">
                <value>0</value>
            </setting>
        </eduVPN.Client.Properties.Settings>
    </userSettings>
</configuration>
