<?xml version="1.0" encoding="utf-8"?>
<!--
    eduVPN - End-user friendly VPN

    Copyright: 2017, The Commons Conservancy eduVPN Programme
    SPDX-License-Identifier: GPL-3.0+
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <!--
            Components
        -->
        <DirectoryRef Id="BINDIR">
            <Component Id="eduVPN.Client.exe" Guid="{ED87A5F5-CCED-46EA-8D4E-443CA747E4D8}">
                <File Source="eduVPN.Client.exe" KeyPath="yes"/>

                <!-- Note: "eduVPN.Client" feature and "eduVPN.ico" icon are defined elsewhere. -->
                <Shortcut
                    Id="eduVPN.Client.exe.StartMenuShortcut"
                    Directory="ProgramMenuFolder"
                    Name="eduVPN Client" DisplayResourceDll="[BINDIR]eduVPN.Resources.dll" DisplayResourceId="1"
                    DescriptionResourceDll="[BINDIR]eduVPN.Resources.dll" DescriptionResourceId="2"
                    Target="eduVPN.Client"
                    WorkingDirectory="BINDIR"
                    Icon="eduVPN.ico"/>
            </Component>
            <Component Id="eduVPN.Client.exe.config" Guid="{8382A373-0C73-4D16-8F33-CA9FF91C24D0}">
                <File Source="eduVPN.Client.exe.config"/>
            </Component>
            <Component Id="eduVPN.Client.reg1" Guid="{91E7E0D2-7DDF-4A36-AF16-6AF548B77409}">
                <RegistryValue Root="HKCR" Key="org.eduvpn.app" Type="string" Name="URL Protocol" Value=""/>
            </Component>
            <Component Id="eduVPN.Client.reg2" Guid="{504194A9-47DD-437B-BB41-F73B4BA7BD73}">
                <RegistryValue Root="HKCR" Key="org.eduvpn.app\DefaultIcon" Type="string" Value="[BINDIR]eduVPN.Client.exe,1"/>
            </Component>
            <Component Id="eduVPN.Client.reg3" Guid="{121D88DA-040C-445A-BCFB-6EC8A1977F3E}">
                <RegistryValue Root="HKCR" Key="org.eduvpn.app\shell\open\command" Type="string" Value="&quot;[BINDIR]eduVPN.Client.exe&quot; &quot;%1&quot;"/>
            </Component>
            <!--
            <Component Id="eduVPN.Client.exe.DesktopShortcut" Guid="{9DE24D79-5251-4D41-B151-737E372975FA}">
                <Shortcut
                    Id="eduVPN.Client.exe.DesktopShortcut"
                    Directory="DesktopFolder"
                    Name="eduVPN Client" DisplayResourceDll="[BINDIR]eduVPN.Resources.dll" DisplayResourceId="1"
                    DescriptionResourceDll="[BINDIR]eduVPN.Resources.dll" DescriptionResourceId="2"
                    Target="[BINDIR]eduVPN.Client.exe"
                    WorkingDirectory="BINDIR"
                    Icon="eduVPN.ico"/>
                <RemoveFolder Id="eduVPN.Client.exe.DesktopShortcut" Directory="DesktopFolder" On="uninstall"/>
                <RegistryValue Root="HKCU" Key="SOFTWARE\org.eduvpn.app" Name="DesktopShortcut" Type="integer" Value="1" KeyPath="yes"/>
            </Component>
            -->
        </DirectoryRef>
        <DirectoryRef Id="RESDIRSL">
            <Component Id="eduVPN.Client.resources.dll.sl" Guid="{662C9FC3-23A8-4174-8AD7-86EC67F916B4}">
                <File Id="eduVPN.Client.resources.dll.sl" Source="sl\eduVPN.Client.resources.dll"/>
            </Component>
        </DirectoryRef>


        <!--
            Component groups
        -->
        <ComponentGroup Id="eduVPN.Client.exe">
            <ComponentGroupRef Id="eduEd25519.dll"/>
            <ComponentGroupRef Id="eduJSON.dll"/>
            <ComponentGroupRef Id="eduOAuth.dll"/>
            <ComponentGroupRef Id="eduOpenVPN.dll"/>
            <ComponentGroupRef Id="eduVPN.dll"/>
            <ComponentGroupRef Id="eduVPN.Resources.dll"/>
            <ComponentGroupRef Id="Prism"/>

            <ComponentRef Id="eduVPN.Client.exe"/>
            <ComponentRef Id="eduVPN.Client.exe.config"/>
            <ComponentRef Id="eduVPN.Client.reg1"/>
            <ComponentRef Id="eduVPN.Client.reg2"/>
            <ComponentRef Id="eduVPN.Client.reg3"/>
            <ComponentRef Id="eduVPN.Client.resources.dll.sl"/>
            <!--<ComponentRef Id="eduVPN.Client.exe.DesktopShortcut"/>-->
        </ComponentGroup>
    </Fragment>
</Wix>
