<?xml version="1.0" encoding="utf-8"?>
<!--
    eduVPN - VPN for education and research

    Copyright: 2017-2021 The Commons Conservancy eduVPN Programme
    SPDX-License-Identifier: GPL-3.0+
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <!--
            Components
        -->
        <DirectoryRef Id="BINDIR">
            <Component Id="$(var.ClientTarget).Client.exe" Guid="{ED87A5F5-CCED-46EA-8D4E-443CA747E4D8}">
                <File Source="$(var.ClientTarget).Client.exe" KeyPath="yes"/>

                <!-- Note: "$(var.ClientTarget).Client" feature and "App.ico" icon are defined elsewhere. -->
                <Shortcut
                    Id="$(var.ClientTarget).Client.exe.StartMenuShortcut"
                    Directory="ProgramMenuFolder"
                    Name="eduVPN Client" DisplayResourceDll="[BINDIR]eduVPN.Resources.dll" DisplayResourceId="1"
                    DescriptionResourceDll="[BINDIR]eduVPN.Resources.dll" DescriptionResourceId="2"
                    Target="$(var.ClientTarget).Client"
                    WorkingDirectory="BINDIR"
                    Icon="App.ico"/>
            </Component>
            <Component Id="$(var.ClientTarget).Client.exe.config" Guid="{8382A373-0C73-4D16-8F33-CA9FF91C24D0}">
                <File Source="$(var.ClientTarget).Client.exe.config"/>
            </Component>
            <!--
            <Component Id="$(var.ClientTarget).Client.exe.DesktopShortcut" Guid="{9DE24D79-5251-4D41-B151-737E372975FA}">
                <Shortcut
                    Id="$(var.ClientTarget).Client.exe.DesktopShortcut"
                    Directory="DesktopFolder"
                    Name="eduVPN Client" DisplayResourceDll="[BINDIR]eduVPN.Resources.dll" DisplayResourceId="1"
                    DescriptionResourceDll="[BINDIR]eduVPN.Resources.dll" DescriptionResourceId="2"
                    Target="[BINDIR]$(var.ClientTarget).Client.exe"
                    WorkingDirectory="BINDIR"
                    Icon="App.ico"/>
                <RemoveFolder Id="$(var.ClientTarget).Client.exe.DesktopShortcut" Directory="DesktopFolder" On="uninstall"/>
                <RegistryValue Root="HKCU" Key="SOFTWARE\org.eduvpn.app" Name="DesktopShortcut" Type="integer" Value="1" KeyPath="yes"/>
            </Component>
            -->
        </DirectoryRef>
        <DirectoryRef Id="RESDIRAR">
            <Component Id="$(var.ClientTarget).Client.resources.dll.ar" Guid="{EE062328-0DDE-48D4-BA8E-C11C6C13F70E}">
                <File Id="$(var.ClientTarget).Client.resources.dll.ar" Source="ar\$(var.ClientTarget).Client.resources.dll"/>
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="RESDIRDE">
            <Component Id="$(var.ClientTarget).Client.resources.dll.de" Guid="{6F3729D9-00BB-4AB1-A7E2-4CF119748127}">
                <File Id="$(var.ClientTarget).Client.resources.dll.de" Source="de\$(var.ClientTarget).Client.resources.dll"/>
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="RESDIRFR">
            <Component Id="$(var.ClientTarget).Client.resources.dll.fr" Guid="{BAB4F56C-5AD7-4AB1-A18F-893E28C8F9AE}">
                <File Id="$(var.ClientTarget).Client.resources.dll.fr" Source="fr\$(var.ClientTarget).Client.resources.dll"/>
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="RESDIRNB">
            <Component Id="$(var.ClientTarget).Client.resources.dll.nb" Guid="{684DA61B-5159-4D5F-84B6-96A4B7772D7A}">
                <File Id="$(var.ClientTarget).Client.resources.dll.nb" Source="nb\$(var.ClientTarget).Client.resources.dll"/>
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="RESDIRNL">
            <Component Id="$(var.ClientTarget).Client.resources.dll.nl" Guid="{A66DDC19-8153-411F-AFD7-41DF490B1D95}">
                <File Id="$(var.ClientTarget).Client.resources.dll.nl" Source="nl\$(var.ClientTarget).Client.resources.dll"/>
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="RESDIRSL">
            <Component Id="$(var.ClientTarget).Client.resources.dll.sl" Guid="{662C9FC3-23A8-4174-8AD7-86EC67F916B4}">
                <File Id="$(var.ClientTarget).Client.resources.dll.sl" Source="sl\$(var.ClientTarget).Client.resources.dll"/>
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="RESDIRTR">
            <Component Id="$(var.ClientTarget).Client.resources.dll.tr" Guid="{F0C8D52A-AB99-4FBD-8FB9-4C7315B96538}">
                <File Id="$(var.ClientTarget).Client.resources.dll.tr" Source="tr\$(var.ClientTarget).Client.resources.dll"/>
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="RESDIRUK">
            <Component Id="$(var.ClientTarget).Client.resources.dll.uk" Guid="{CBA661F3-791C-4639-A1B3-6BAC50807A6D}">
                <File Id="$(var.ClientTarget).Client.resources.dll.uk" Source="uk\$(var.ClientTarget).Client.resources.dll"/>
            </Component>
        </DirectoryRef>


        <!--
            Component groups
        -->
        <ComponentGroup Id="$(var.ClientTarget).Client.exe">
            <ComponentGroupRef Id="eduVPN.dll"/>
            <ComponentGroupRef Id="eduVPN.Views.dll"/>
            <ComponentGroupRef Id="eduVPN.Resources.dll"/>
            <ComponentGroupRef Id="Prism.dll"/>

            <ComponentRef Id="$(var.ClientTarget).Client.exe"/>
            <ComponentRef Id="$(var.ClientTarget).Client.exe.config"/>
            <ComponentRef Id="$(var.ClientTarget).Client.resources.dll.ar"/>
            <ComponentRef Id="$(var.ClientTarget).Client.resources.dll.de"/>
            <ComponentRef Id="$(var.ClientTarget).Client.resources.dll.fr"/>
            <ComponentRef Id="$(var.ClientTarget).Client.resources.dll.nb"/>
            <ComponentRef Id="$(var.ClientTarget).Client.resources.dll.nl"/>
            <ComponentRef Id="$(var.ClientTarget).Client.resources.dll.sl"/>
            <ComponentRef Id="$(var.ClientTarget).Client.resources.dll.tr"/>
            <ComponentRef Id="$(var.ClientTarget).Client.resources.dll.uk"/>
            <!--<ComponentRef Id="$(var.ClientTarget).Client.exe.DesktopShortcut"/>-->
        </ComponentGroup>
    </Fragment>
</Wix>
