<?xml version="1.0" encoding="utf-8"?>
<!--
    Let's Connect! - The open source VPN

    Copyright: 2017-2019 The Commons Conservancy eduVPN Programme
    SPDX-License-Identifier: GPL-3.0+
-->
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="eduVPN.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="eduVPN.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="eduVPN.Views.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <applicationSettings>
        <eduVPN.Properties.Settings>
            <!--
                Secure Internet discovery URL and Ed25519 public key
            -->
            <setting name="SecureInternetDiscoveryDescr" serializeAs="Xml">
                <value>
                    <ResourceRef/>
                </value>
            </setting>

            <!--
                Institute Access discovery URL and Ed25519 public key
            -->
            <setting name="InstituteAccessDiscoveryDescr" serializeAs="Xml">
                <value>
                    <ResourceRef/>
                </value>
            </setting>

            <!--
                Self-updating feature base URI and Ed25519 public key
                Set to empty to disable self-updating.
            -->
            <setting name="SelfUpdateDescr" serializeAs="Xml">
                <value>
                    <ResourceRef Uri="https://static.eduvpn.nl/auto-update/windows-lc.json" PublicKey="15nh06ilJd5f9hbH5rWGgU+qw9IxBHE+j2wVKshidkA="/>
                </value>
            </setting>

            <!--
                Which OpenVPN interactive service instance client should use to
                manipulate openvpn.exe process:
                - "$LetsConnect" - Use OpenVPN installation bundled with the client (default).
                - ""             - Use original OpenVPN installation.
            -->
            <setting name="OpenVPNInteractiveServiceInstance" serializeAs="String">
                <value>$LetsConnect</value>
            </setting>

            <!--
                Options to be removed from OpenVPN profile configuration (when provisioned).
                List OpenVPN option names only - i.e. without parameters. The client will
                parse the OpenVPN profile configuration in run-time and remove all instances
                of options listed here.
                Use in combination with OpenVPNAddOptions setting to override the OpenVPN
                options provisioned by the VPN provider.

                Example:
                <setting name="OpenVPNRemoveOptions" serializeAs="Xml">
                    <value>
                        <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                            <string>compress</string>
                            <string>mute</string>
                            <string>verb</string>
                        </ArrayOfString>
                    </value>
                </setting>
            -->
            <setting name="OpenVPNRemoveOptions" serializeAs="Xml">
                <value>
                    <!--
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string></string>
                    </ArrayOfString>
                    -->
                </value>
            </setting>

            <!--
                Custom options to be added to OpenVPN profile configuration. This string is
                appended to the OpenVPN profile configuration file (OVPN) in run-time and
                should conform to the OVPN file syntax. It can contain multiple lines to
                specify multiple OpenVPN options.
                Use in combination with OpenVPNRemoveOptions setting to override the OpenVPN
                options provisioned by the VPN provider.

                Example:
                <setting name="OpenVPNAddOptions" serializeAs="String">
                    <value>mute 3
                    verb 9
                    inactive 60</value>
                </setting>
            -->
            <setting name="OpenVPNAddOptions" serializeAs="String">
                <value />
            </setting>

            <!--
                The client profile management mode is described in detail here:
                https://github.com/Amebis/eduVPN/blob/master/doc/ConnectingProfileSelectMode.md

                Note: It is recommended to delete client user settings in %LOCALAPPDATA%\SURF
                when the mode is changed.
            -->
            <setting name="ConnectingProfileSelectMode" serializeAs="String">
                <value>0</value>
            </setting>
        </eduVPN.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <!--
            User defaults
            (Exact values are read from %LOCALAPPDATA%\SURF settings. Here are the fall-back defaults only.)
        -->
        <eduVPN.Properties.Settings>
            <!--
                Which TAP interface to use when connecting.
                Leave "00000000-0000-0000-0000-000000000000" for auto-selection by openvpn.exe.
            -->
            <setting name="OpenVPNInterfaceID" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>

            <!--
                Always connect using TCP.
            -->
            <setting name="OpenVPNForceTCP" serializeAs="String">
                <value>False</value>
            </setting>

            <!--
                Allow local traffic.
            -->
            <setting name="OpenVPNAllowLocal" serializeAs="String">
                <value>False</value>
            </setting>
        </eduVPN.Properties.Settings>
        <eduVPN.Views.Properties.Settings>
            <!--
                Client window top coordinate

                NaN for automatic placement.

                If any part of the window falls outside of the visible desktop
                the coordinate is adjusted accordingly.
            -->
            <setting name="WindowTop" serializeAs="String">
                <value>NaN</value>
            </setting>

            <!--
                Client window left coordinate

                NaN for automatic placement.

                If any part of the window falls outside of the visible desktop
                the coordinate is adjusted accordingly.
            -->
            <setting name="WindowLeft" serializeAs="String">
                <value>NaN</value>
            </setting>
        </eduVPN.Views.Properties.Settings>
    </userSettings>

    <!--
        For logging to file, uncomment the following section,
        and set the appropriate log file path.

        * OR *

        Use DebugView utility (https://docs.microsoft.com/en-us/sysinternals/downloads/debugview)
        to monitor trace messages live.
    -->
    <!--
    <system.diagnostics>
        <trace indentsize="4">
            <listeners>
                <add
                    name="LogFileListener"
                    type="System.Diagnostics.TextWriterTraceListener"
                    initializeData="C:\output.log" />
            </listeners>
        </trace>
    </system.diagnostics>
    -->
</configuration>
