<?xml version="1.0" encoding="utf-8"?>
<!--
	Let's Connect! - The open source VPN

	Copyright: 2017-2024 The Commons Conservancy
	SPDX-License-Identifier: GPL-3.0+
-->
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings"
			type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="eduVPN.Properties.Settings"
				type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
				requirePermission="false" />
			<section name="eduVPN.Views.Properties.Settings"
				type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
				allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="userSettings"
			type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="eduVPN.Properties.Settings"
				type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
				allowExeDefinition="MachineToLocalUser" requirePermission="false" />
			<section name="eduVPN.Views.Properties.Settings"
				type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
				allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<applicationSettings>
		<eduVPN.Properties.Settings>
			<setting name="SelfUpdateBundleId" serializeAs="String">
				<value>{5F7860D5-5563-4492-930B-C8C77A539504}</value>
			</setting>
			<setting name="ClientId" serializeAs="String">
				<value>org.letsconnect-vpn.app</value>
			</setting>
			<setting name="ClientTitle" serializeAs="String">
				<value>Let's Connect!</value>
			</setting>
			<setting name="ClientSimpleName" serializeAs="String">
				<value>LetsConnect</value>
			</setting>
			<setting name="ClientAboutUri" serializeAs="String">
				<value>https://www.letsconnect-vpn.org/</value>
			</setting>
			<setting name="SelfUpdateDiscovery" serializeAs="Xml">
				<value>
					<!--
					<ResourceRef
						Uri="https://app.letsconnect-vpn.org/windows/update-v2.json">
						<MinisignPublicKeyDictionary Key="PublicKeys">
							<PublicKey
								SupportedAlgorithms="2">
								RWRPrtnepBgoU86pKtSnHJXBtmtJjv6T5wN2Q+P7vPgHPdr3v8kGme13</PublicKey>
							<PublicKey>RWTbIHtCWd57+tcyjPSn30I7xhPGow35NR7wBzj3qDm13TE6YFk2L2M8</PublicKey>
							<PublicKey>RWQHk3PWKr6pfbb7MSTJrhHrPgz3/BYk8uvwFoScHK5LYZhC2oNXnW16</PublicKey>
							<PublicKey>RWQ68Y5/b8DED0TJ41B1LE7yAvkmavZWjDwCBUuC+Z2pP9HaSawzpEDA</PublicKey>
						</MinisignPublicKeyDictionary>
					</ResourceRef>
					-->
					<ResourceRef
						Uri="https://raw.githubusercontent.com/Amebis/eduVPN/master/bin/Setup/LetsConnect.windows.json">
						<MinisignPublicKeyDictionary Key="PublicKeys">
							<PublicKey SupportedAlgorithms="2">
								RWRPrtnepBgoU86pKtSnHJXBtmtJjv6T5wN2Q+P7vPgHPdr3v8kGme13</PublicKey>
						</MinisignPublicKeyDictionary>
					</ResourceRef>
				</value>
			</setting>
			<setting name="OpenVPNInteractiveServiceInstance" serializeAs="String">
				<value>$LetsConnect</value>
			</setting>
			<setting name="WireGuardTunnelManagerServiceInstance" serializeAs="String">
				<value>$LetsConnect</value>
			</setting>
		</eduVPN.Properties.Settings>
		<eduVPN.Views.Properties.Settings>
			<setting name="ProcessRenderMode" serializeAs="String">
				<value>Default</value>
			</setting>
		</eduVPN.Views.Properties.Settings>
	</applicationSettings>
	<userSettings>
		<!--
			User defaults
			(Exact values are read from %LOCALAPPDATA%\SURF settings. Here are the fall-back defaults only.)
		-->
		<eduVPN.Properties.Settings>
			<setting name="SelfUpdateLastVersion" serializeAs="String">
				<value />
			</setting>
			<setting name="SelfUpdateLastReminder" serializeAs="String">
				<value />
			</setting>
			<setting name="PreferTCP" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="SettingsVersion" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="SecureInternetOrganization" serializeAs="String">
				<value />
			</setting>
			<setting name="SecureInternetConnectingServer" serializeAs="String">
				<value />
			</setting>
		</eduVPN.Properties.Settings>
		<eduVPN.Views.Properties.Settings>
			<setting name="SettingsVersion" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="WindowState" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="WindowTop" serializeAs="String">
				<value>NaN</value>
			</setting>
			<setting name="WindowLeft" serializeAs="String">
				<value>NaN</value>
			</setting>
			<setting name="WindowHeight" serializeAs="String">
				<value>NaN</value>
			</setting>
			<setting name="WindowWidth" serializeAs="String">
				<value>NaN</value>
			</setting>
			<setting name="SystemTrayMinimizedWarned" serializeAs="String">
				<value>False</value>
			</setting>
		</eduVPN.Views.Properties.Settings>
	</userSettings>

	<!--
		For logging to file, uncomment the following section,
		and set the appropriate log file path.

		* OR *

		Use DebugView utility (https://docs.microsoft.com/en-us/sysinternals/downloads/debugview)
		to monitor trace messages live.
	-->
	<!--
	<system.diagnostics>
		<trace autoflush="true" indentsize="4">
			<listeners>
				<add
					name="LogFileListener"
					type="System.Diagnostics.TextWriterTraceListener"
					initializeData="C:\output.log"/>
			</listeners>
		</trace>
	</system.diagnostics>
	-->
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions"
					publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe"
					publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>