<?xml version="1.0" encoding="utf-8"?>
<!--
    eduVPN - End-user friendly VPN

    Copyright: 2017, The Commons Conservancy eduVPN Programme
    SPDX-License-Identifier: GPL-3.0+
-->
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="eduVPN.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="eduVPN.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="eduVPN.Views.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <applicationSettings>
        <eduVPN.Properties.Settings>
            <!--
                Secure Internet discovery URL and Ed25519 public key
            -->
            <setting name="SecureInternetDiscoveryDescr" serializeAs="Xml">
                <value>
                    <ResourceRef/>
                </value>
            </setting>

            <!--
                Institute Access discovery URL and Ed25519 public key
            -->
            <setting name="InstituteAccessDiscoveryDescr" serializeAs="Xml">
                <value>
                    <ResourceRef/>
                </value>
            </setting>

            <!--
                Self-updating feature base URI and Ed25519 public key
                Set to empty to disable self-updating.
            -->
            <setting name="SelfUpdateDescr" serializeAs="Xml">
                <value>
                    <ResourceRef/>
                </value>
            </setting>

            <!--
                Which OpenVPN interactive service instance (named pipe) client should
                use to manipulate openvpn.exe process:
                - "openvpn$LetsConnect\service" - Use OpenVPN installation bundled with
                  Let's Connect Client (default).
                - "openvpn\service" - Use original OpenVPN installation.
            -->
            <setting name="OpenVPNInteractiveServiceNamedPipe" serializeAs="String">
                <value>openvpn$LetsConnect\service</value>
            </setting>

            <!--
                The client profile management mode is described in detail here:
                https://github.com/Amebis/eduVPN/blob/master/doc/ConnectingProfileSelectMode.md

                Note: It is recommended to delete client user settings in %LOCALAPPDATA%\SURF
                when the mode is changed.
            -->
            <setting name="ConnectingProfileSelectMode" serializeAs="String">
                <value>0</value>
            </setting>
        </eduVPN.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <!--
            User defaults
            (Exact values are read from %LOCALAPPDATA%\SURF settings. Here are the fall-back defaults only.)
        -->
        <eduVPN.Properties.Settings>
            <!--
                Which TAP interface to use when connecting.
                Leave "00000000-0000-0000-0000-000000000000" for auto-selection by openvpn.exe.
            -->
            <setting name="OpenVPNInterfaceID" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>

            <!--
                Always connect using TCP.
            -->
            <setting name="OpenVPNForceTCP" serializeAs="String">
                <value>False</value>
            </setting>
        </eduVPN.Properties.Settings>
        <eduVPN.Views.Properties.Settings>
            <!--
                Client window top coordinate

                NaN for automatic placement.

                If any part of the window falls outside of the visible desktop
                the coordinate is adjusted accordingly.
            -->
            <setting name="WindowTop" serializeAs="String">
                <value>NaN</value>
            </setting>

            <!--
                Client window left coordinate

                NaN for automatic placement.

                If any part of the window falls outside of the visible desktop
                the coordinate is adjusted accordingly.
            -->
            <setting name="WindowLeft" serializeAs="String">
                <value>NaN</value>
            </setting>
        </eduVPN.Views.Properties.Settings>
    </userSettings>

    <!--
        For logging to file, uncomment the following section,
        and set the appropriate log file path.

        * OR *

        Use DebugView utility (https://docs.microsoft.com/en-us/sysinternals/downloads/debugview)
        to monitor trace messages live.
    -->
    <!--
    <system.diagnostics>
        <trace indentsize="4">
            <listeners>
                <add
                    name="LogFileListener"
                    type="System.Diagnostics.TextWriterTraceListener"
                    initializeData="C:\output.log" />
            </listeners>
        </trace>
    </system.diagnostics>
    -->
</configuration>
