<?xml version="1.0" encoding="utf-8"?>
<!--
    Let's Connect! - The open source VPN

    Copyright: 2017-2021 The Commons Conservancy eduVPN Programme
    SPDX-License-Identifier: GPL-3.0+
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <!--
            Components
        -->
        <DirectoryRef Id="BINDIR">
            <Component Id="$(var.ClientTarget).Client.exe" Guid="{0405C4A5-06F1-4B2A-8F7B-7BE66F7DD8E4}">
                <File Source="$(var.ClientTarget).Client.exe" KeyPath="yes"/>

                <!-- Note: "$(var.ClientTarget).Client" feature and "App.ico" icon are defined elsewhere. -->
                <Shortcut
                    Id="$(var.ClientTarget).Client.exe.StartMenuShortcut"
                    Directory="ProgramMenuFolder"
                    Name="Let's Connect! Client" DisplayResourceDll="[BINDIR]eduVPN.Resources.dll" DisplayResourceId="101"
                    DescriptionResourceDll="[BINDIR]eduVPN.Resources.dll" DescriptionResourceId="102"
                    Target="$(var.ClientTarget).Client"
                    WorkingDirectory="BINDIR"
                    Icon="App.ico"/>
            </Component>
            <Component Id="$(var.ClientTarget).Client.exe.config" Guid="{03C290E0-70A5-4594-9801-F51D07CCF06B}">
                <File Source="$(var.ClientTarget).Client.exe.config"/>
            </Component>
            <!--
            <Component Id="$(var.ClientTarget).Client.exe.DesktopShortcut" Guid="{B7186C84-2C86-45A5-B346-4CAC2C878DC0}">
                <Shortcut
                    Id="$(var.ClientTarget).Client.exe.DesktopShortcut"
                    Directory="DesktopFolder"
                    Name="Let's Connect! Client" DisplayResourceDll="[BINDIR]eduVPN.Resources.dll" DisplayResourceId="101"
                    DescriptionResourceDll="[BINDIR]eduVPN.Resources.dll" DescriptionResourceId="102"
                    Target="[BINDIR]$(var.ClientTarget).Client.exe"
                    WorkingDirectory="BINDIR"
                    Icon="App.ico"/>
                <RemoveFolder Id="$(var.ClientTarget).Client.exe.DesktopShortcut" Directory="DesktopFolder" On="uninstall"/>
                <RegistryValue Root="HKCU" Key="SOFTWARE\org.letsconnect-vpn.app" Name="DesktopShortcut" Type="integer" Value="1" KeyPath="yes"/>
            </Component>
            -->
        </DirectoryRef>

        <!--
            Component groups
        -->
        <ComponentGroup Id="$(var.ClientTarget).Client.exe">
            <ComponentGroupRef Id="eduVPN.dll"/>
            <ComponentGroupRef Id="eduVPN.Views.dll"/>
            <ComponentGroupRef Id="eduVPN.Resources.dll"/>
            <ComponentGroupRef Id="Prism.dll"/>

            <ComponentRef Id="$(var.ClientTarget).Client.exe"/>
            <ComponentRef Id="$(var.ClientTarget).Client.exe.config"/>
            <!--<ComponentRef Id="$(var.ClientTarget).Client.exe.DesktopShortcut"/>-->
        </ComponentGroup>
    </Fragment>
</Wix>
