<?xml version="1.0" encoding="utf-8" ?>
<!--
    eduVPN - VPN for education and research

    Copyright: 2017-2019 The Commons Conservancy eduVPN Programme
    SPDX-License-Identifier: GPL-3.0+
-->
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="eduVPN.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="eduVPN.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <eduVPN.Properties.Settings>
            <!--
                Secure Internet discovery URL and Ed25519 public key
            -->
            <setting name="SecureInternetDiscoveryDescr" serializeAs="Xml">
                <value>
                    <ResourceRef Uri="https://static.eduvpn.nl/disco/secure_internet.json" PublicKey="E5On0JTtyUVZmcWd+I/FXRm32nSq8R2ioyW7dcu/U88="/>
                </value>
            </setting>
            <!--
            <setting name="SecureInternetDiscoveryDescr" serializeAs="Xml">
                <value>
                    <ResourceRef Uri="https://static.eduvpn.nl/disco/secure_internet_dev.json" PublicKey="zzls4TZTXHEyV3yxaxag1DZw3tSpIdBoaaOjUGH/Rwg="/>
                </value>
            </setting>
            -->

            <!--
                Institute Access discovery URL and Ed25519 public key
            -->
            <setting name="InstituteAccessDiscoveryDescr" serializeAs="Xml">
                <value>
                    <ResourceRef Uri="https://static.eduvpn.nl/disco/institute_access.json" PublicKey="E5On0JTtyUVZmcWd+I/FXRm32nSq8R2ioyW7dcu/U88="/>
                </value>
            </setting>
            <!--
            <setting name="InstituteAccessDiscoveryDescr" serializeAs="Xml">
                <value>
                    <ResourceRef Uri="https://static.eduvpn.nl/disco/institute_access_dev.json" PublicKey="zzls4TZTXHEyV3yxaxag1DZw3tSpIdBoaaOjUGH/Rwg="/>
                </value>
            </setting>
            -->

            <!--
                Self-updating feature base URI and Ed25519 public key
                Set to empty to disable self-updating.
            -->
            <setting name="SelfUpdateDescr" serializeAs="Xml">
                <value>
                    <ResourceRef Uri="https://static.eduvpn.nl/auto-update/windows.json" PublicKey="15nh06ilJd5f9hbH5rWGgU+qw9IxBHE+j2wVKshidkA="/>
                </value>
            </setting>

            <!--
                Which OpenVPN interactive service instance client should use to
                manipulate openvpn.exe process:
                - "$eduVPN" - Use OpenVPN installation bundled with the client (default).
                - ""        - Use original OpenVPN installation.
            -->
            <setting name="OpenVPNInteractiveServiceInstance" serializeAs="String">
                <value>$eduVPN</value>
            </setting>

            <!--
                Options to be removed from OpenVPN profile configuration (when provisioned).
                List OpenVPN option names only - i.e. without parameters.
                Use in combination with OpenVPNAddOptions setting to override the OpenVPN
                options provisioned by the VPN provider.
            -->
            <setting name="OpenVPNRemoveOptions" serializeAs="Xml">
                <value>
                    <!--
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string></string>
                    </ArrayOfString>
                    -->
                </value>
            </setting>

            <!--
                Custom options to be added to OpenVPN profile configuration. This string is
                appended to the OpenVPN profile configuration file (OVPN) and should conform
                to the OVPN file syntax. It can contain multiple lines to specify multiple
                OpenVPN options.
                Use in combination with OpenVPNRemoveOptions setting to override the OpenVPN
                options provisioned by the VPN provider.
            -->
            <setting name="OpenVPNAddOptions" serializeAs="String">
                <value />
            </setting>

            <!--
                The client profile management mode is described in detail here:
                https://github.com/Amebis/eduVPN/blob/master/doc/ConnectingProfileSelectMode.md

                Note: It is recommended to delete client user settings in %LOCALAPPDATA%\SURF
                when the mode is changed.
            -->
            <setting name="ConnectingProfileSelectMode" serializeAs="String">
                <value>3</value>
            </setting>
        </eduVPN.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <!--
            User defaults
            (Exact values are read from %LOCALAPPDATA%\SURF settings. Here are the fall-back defaults only.)
        -->
        <eduVPN.Properties.Settings>
            <!--
                Which TAP interface to use when connecting.
                Leave "00000000-0000-0000-0000-000000000000" for auto-selection by openvpn.exe.
            -->
            <setting name="OpenVPNInterfaceID" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>

            <!--
                Always connect using TCP.
            -->
            <setting name="OpenVPNForceTCP" serializeAs="String">
                <value>False</value>
            </setting>

            <!--
                Allow local traffic.
            -->
            <setting name="OpenVPNAllowLocal" serializeAs="String">
                <value>False</value>
            </setting>
        </eduVPN.Properties.Settings>
    </userSettings>
</configuration>