<?xml version="1.0" encoding="utf-8"?>
<!--
	eduVPN - VPN for education and research

	Copyright: 2017-2024 The Commons Conservancy
	SPDX-License-Identifier: GPL-3.0+
-->
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="eduVPN.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="eduVPN.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<applicationSettings>
		<eduVPN.Properties.Settings>
   <setting name="OpenVPNInteractiveServiceInstance" serializeAs="String">
    <value />
   </setting>
   <setting name="OpenVPNAddOptions" serializeAs="String">
    <value />
   </setting>
   <setting name="WireGuardTunnelManagerServiceInstance" serializeAs="String">
    <value />
   </setting>
   <setting name="SelfUpdateBundleId" serializeAs="String">
    <value />
   </setting>
   <setting name="ClientId" serializeAs="String">
    <value />
   </setting>
   <setting name="ClientTitle" serializeAs="String">
    <value />
   </setting>
   <setting name="ClientSimpleName" serializeAs="String">
    <value />
   </setting>
   <setting name="ClientAboutUri" serializeAs="String">
    <value />
   </setting>
   <setting name="Discovery" serializeAs="String">
    <value>False</value>
   </setting>
  </eduVPN.Properties.Settings>
	</applicationSettings>
	<userSettings>
		<!--
			User defaults
			(Exact values are read from %LOCALAPPDATA%\SURF settings. Here are the fall-back defaults only.)
		-->
		<eduVPN.Properties.Settings>
   <setting name="SelfUpdateLastVersion" serializeAs="String">
    <value />
   </setting>
   <setting name="SelfUpdateLastReminder" serializeAs="String">
    <value />
   </setting>
   <setting name="PreferTCP" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SettingsVersion" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="LastSelectedServer" serializeAs="String">
    <value />
   </setting>
   <setting name="AccessTokenCache2" serializeAs="Xml">
    <value>
     <SerializableStringDictionary />
    </value>
   </setting>
  </eduVPN.Properties.Settings>
	</userSettings>
</configuration>
