<?xml version="1.0" encoding="utf-8" ?>
<!--
    eduVPN - End-user friendly VPN

    Copyright: 2017, The Commons Conservancy eduVPN Programme
    SPDX-License-Identifier: GPL-3.0+
-->
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="eduVPN.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="eduVPN.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <eduVPN.Properties.Settings>
            <!--
                Secure Internet discovery URL and Ed25519 public key
            -->
            <setting name="SecureInternetDiscovery" serializeAs="String">
                <value>https://static.eduvpn.nl/disco/secure_internet.json</value>
            </setting>
            <setting name="SecureInternetDiscoveryPubKey" serializeAs="String">
                <value>E5On0JTtyUVZmcWd+I/FXRm32nSq8R2ioyW7dcu/U88=</value>
            </setting>
            <!--
            <setting name="SecureInternetDiscovery" serializeAs="String">
                <value>https://static.eduvpn.nl/disco/secure_internet_dev.json</value>
            </setting>
            <setting name="SecureInternetDiscoveryPubKey" serializeAs="String">
                <value>zzls4TZTXHEyV3yxaxag1DZw3tSpIdBoaaOjUGH/Rwg=</value>
            </setting>
            -->

            <!--
                Institute Access discovery URL and Ed25519 public key
            -->
            <setting name="InstituteAccessDiscovery" serializeAs="String">
                <value>https://static.eduvpn.nl/disco/institute_access.json</value>
            </setting>
            <setting name="InstituteAccessDiscoveryPubKey" serializeAs="String">
                <value>E5On0JTtyUVZmcWd+I/FXRm32nSq8R2ioyW7dcu/U88=</value>
            </setting>
            <!--
            <setting name="SecureInternetDiscovery" serializeAs="String">
                <value>https://static.eduvpn.nl/disco/institute_access_dev.json</value>
            </setting>
            <setting name="SecureInternetDiscoveryPubKey" serializeAs="String">
                <value>zzls4TZTXHEyV3yxaxag1DZw3tSpIdBoaaOjUGH/Rwg=</value>
            </setting>
            -->

            <!--
                Self-updating feature base URI and Ed25519 public key
                Set to empty to disable self-updating.
            -->
            <setting name="SelfUpdate" serializeAs="String">
                <value>https://static.eduvpn.nl/auto-update/windows.json</value>
            </setting>
            <setting name="SelfUpdatePubKey" serializeAs="String">
                <value>15nh06ilJd5f9hbH5rWGgU+qw9IxBHE+j2wVKshidkA=</value>
            </setting>

            <!--
                Which OpenVPN interactive service instance (named pipe) client should
                use to manipulate openvpn.exe process:
                - "openvpn$eduVPN\service" - Use OpenVPN installation bundled with
                  eduVPN Client (default).
                - "openvpn\service" - Use original OpenVPN installation.
            -->
            <setting name="OpenVPNInteractiveServiceNamedPipe" serializeAs="String">
                <value>openvpn$eduVPN\service</value>
            </setting>

            <!--
                The client profile management mode is described in detail here:
                https://github.com/Amebis/eduVPN/blob/master/doc/ConnectingProfileSelectMode.md

                Note: It is recommended to delete client user settings in %LOCALAPPDATA%\SURF
                when the mode is changed.
            -->
            <setting name="ConnectingProfileSelectMode" serializeAs="String">
                <value>0</value>
            </setting>
        </eduVPN.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <!--
            User defaults
            (Exact values are read from %LOCALAPPDATA%\SURF settings. Here are the fall-back defaults only.)
        -->
        <eduVPN.Properties.Settings>
            <!--
                Which TAP interface to use when connecting.
                Leave "00000000-0000-0000-0000-000000000000" for auto-selection by openvpn.exe.
            -->
            <setting name="OpenVPNInterfaceID" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>

            <!--
                Always connect using TCP.
            -->
            <setting name="OpenVPNForceTCP" serializeAs="String">
                <value>False</value>
            </setting>
        </eduVPN.Properties.Settings>
    </userSettings>
</configuration>