<?xml version="1.0" encoding="utf-8"?>
<!--
    eduVPN - VPN for education and research

    Copyright: 2017-2020 The Commons Conservancy eduVPN Programme
    SPDX-License-Identifier: GPL-3.0+
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <!--
            Components
        -->
        <DirectoryRef Id="BINDIR">
            <Component Id="eduVPN.dll" Guid="{363C4CCB-B18B-4BA8-AB89-797564B388C2}">
                <File Source="eduVPN.dll"/>
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="RESDIRAR">
            <Component Id="eduVPN.resources.dll.ar" Guid="{81CD6405-03A6-4747-9EB0-ABCDF4847FCA}">
                <File Id="eduVPN.resources.dll.ar" Source="ar\eduVPN.resources.dll"/>
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="RESDIRDE">
            <Component Id="eduVPN.resources.dll.de" Guid="{FE660EBE-ED9A-481D-83DC-B27078D278C1}">
                <File Id="eduVPN.resources.dll.de" Source="de\eduVPN.resources.dll"/>
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="RESDIRFR">
            <Component Id="eduVPN.resources.dll.fr" Guid="{4531E914-038A-43F6-9E04-421C475F16A6}">
                <File Id="eduVPN.resources.dll.fr" Source="fr\eduVPN.resources.dll"/>
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="RESDIRNB">
            <Component Id="eduVPN.resources.dll.nb" Guid="{D254EB02-8237-49DA-B661-608C5459BEEB}">
                <File Id="eduVPN.resources.dll.nb" Source="nb\eduVPN.resources.dll"/>
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="RESDIRNL">
            <Component Id="eduVPN.resources.dll.nl" Guid="{F26F3804-3BA7-4098-ADD3-F4EDC8F5CC5D}">
                <File Id="eduVPN.resources.dll.nl" Source="nl\eduVPN.resources.dll"/>
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="RESDIRSL">
            <Component Id="eduVPN.resources.dll.sl" Guid="{6A4987F0-47C6-48FE-AF14-1AB6CC2A070E}">
                <File Id="eduVPN.resources.dll.sl" Source="sl\eduVPN.resources.dll"/>
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="RESDIRTR">
            <Component Id="eduVPN.resources.dll.tr" Guid="{992899CA-AED5-47F8-8D7C-F5976C30C7D8}">
                <File Id="eduVPN.resources.dll.tr" Source="tr\eduVPN.resources.dll"/>
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="RESDIRUK">
            <Component Id="eduVPN.resources.dll.uk" Guid="{E53AEB17-768B-4AB5-A37D-E2A918BA9050}">
                <File Id="eduVPN.resources.dll.uk" Source="uk\eduVPN.resources.dll"/>
            </Component>
        </DirectoryRef>


        <!--
            Component groups
        -->
        <ComponentGroup Id="eduVPN.dll">
            <ComponentGroupRef Id="eduEd25519.dll"/>
            <ComponentGroupRef Id="eduEx.dll"/>
            <ComponentGroupRef Id="eduJSON.dll"/>
            <ComponentGroupRef Id="eduOAuth.dll"/>
            <ComponentGroupRef Id="eduOpenVPN.dll"/>
            <ComponentGroupRef Id="Prism.dll"/>

            <ComponentRef Id="eduVPN.dll"/>
            <ComponentRef Id="eduVPN.resources.dll.ar"/>
            <ComponentRef Id="eduVPN.resources.dll.de"/>
            <ComponentRef Id="eduVPN.resources.dll.fr"/>
            <ComponentRef Id="eduVPN.resources.dll.nb"/>
            <ComponentRef Id="eduVPN.resources.dll.nl"/>
            <ComponentRef Id="eduVPN.resources.dll.sl"/>
            <ComponentRef Id="eduVPN.resources.dll.tr"/>
            <ComponentRef Id="eduVPN.resources.dll.uk"/>
        </ComponentGroup>
    </Fragment>
</Wix>
