html, body, #wrapper {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: 'Segoe UI',Arial,sans-serif;
    font-size: 12pt;
    background: #eee;
    color: #000;
}

#wrapper {
    border: none;
    vertical-align: middle;
    text-align: center;
    width: 100%;
}

#wrapper tr td {
    vertical-align: middle;
    text-align: center;
}

#frame table {
    border: 1pt solid #666;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px;
    background: #fff;
    margin: auto;
    min-width: 320pt;
}

#frame table tr td {
    vertical-align: middle;
    text-align: center;
    padding: 10pt;
}

h2 {
    font-family: 'Segoe UI',Arial,sans-serif;
    font-size: 14pt;
    font-weight: bold;
    margin: 5pt 0pt;
    text-align: center;
}

p {
    text-align: center;
    margin: 2pt 0pt;
}

body.finished {
    background: #ccc;
    color: #888;
}

body.finished #frame table {
    border-color: #aaa;
    background: #ddd;
}

body.error #frame table {
    border-width: 3px;
    border-color: #ed6b06;
}
