<?xml version="1.0" encoding="utf-8"?>
<!--
	eduVPN - VPN for education and research

	Copyright: 2017-2024 The Commons Conservancy
	SPDX-License-Identifier: GPL-3.0+
-->
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="eduVPN.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<applicationSettings>
		<eduVPN.Properties.Settings>
			<setting name="ClientId" serializeAs="String">
				<value>org.eduvpn.app</value>
			</setting>
			<setting name="ClientTitle" serializeAs="String">
				<value>eduVPN Tests</value>
			</setting>
			<setting name="ClientSimpleName" serializeAs="String">
				<value>eduVPN.Tests</value>
			</setting>
			<setting name="ClientAboutUri" serializeAs="String">
				<value>https://www.eduvpn.org/</value>
			</setting>
			<setting name="Discovery" serializeAs="String">
				<value>True</value>
			</setting>
		</eduVPN.Properties.Settings>
	</applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
