<?xml version="1.0" encoding="utf-8"?>
<!--
    eduVPN - VPN for education and research

    Copyright: 2017-2021 The Commons Conservancy eduVPN Programme
    SPDX-License-Identifier: GPL-3.0+
-->
<packages>
  <package id="MSTest.TestAdapter" version="2.1.2" targetFramework="net45" />
  <package id="MSTest.TestFramework" version="2.1.2" targetFramework="net45" />
  <package id="Prism.Core" version="8.0.0.1909" targetFramework="net45" requireReinstallation="true" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net45" requireReinstallation="true" />
</packages>