<?xml version="1.0" encoding="utf-8"?>
<!--
    eduVPN - VPN for education and research

    Copyright: 2017-2021 The Commons Conservancy eduVPN Programme
    SPDX-License-Identifier: GPL-3.0+
-->
<packages>
  <package id="MSTest.TestAdapter" version="2.2.4" targetFramework="net48" />
  <package id="MSTest.TestFramework" version="2.2.4" targetFramework="net48" />
  <package id="Prism.Core" version="8.1.97" targetFramework="net48" />
</packages>