<?xml version="1.0" encoding="utf-8"?>
<!--
    eduVPN - VPN for education and research

    Copyright: 2017-2020 The Commons Conservancy eduVPN Programme
    SPDX-License-Identifier: GPL-3.0+
-->
<packages>
  <package id="MSTest.TestAdapter" version="1.2.0" targetFramework="net45" />
  <package id="MSTest.TestFramework" version="1.2.0" targetFramework="net45" />
  <package id="Prism.Core" version="7.0.0.396" targetFramework="net45" />
</packages>